<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script>

<link rel="stylesheet" th:href="@{/css/franchisee/sales/franchisee_sales_list.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_include.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_home.css}">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" th:replace="~{franchisee/include/franchisee_sales_list_js.html::franchisee_sales_list_js}"></script>

</head>
<body>

	<div id="wrap">

	<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
			
				<div th:replace="~{/franchisee/include/franchisee_include.html::section_menu_wrap}">
				</div>
				
				<p hidden id="fc_no" th:text="${session.loginedFranchiseeMemberDto.fcs_no}"></p>
			
				<div class="franchisee_section_view_wrap" th:if="${session.loginedFranchiseeMemberDto != null}">
			
					<div class="pos_section_main">
						<div class="pos_section_info_wrap">
						
							<div class="word">
								<span th:text="${session.loginedFranchiseeMemberDto.fcs_name}"></span> 매출
							</div>
							
						</div>
					</div>

					
					<div class="select_wrap">
			
						<select name="p_year">
							<option value="2022">2022</option>
							<option value="2023">2023</option>
							<option value="2024">2024</option>
							<option value="2025">2025</option>
							<option value="2026">2026</option>
							<option value="2027">2027</option>
							<option value="2028">2028</option>
							<option value="2029">2029</option>
							<option value="2030">2030</option>
							<option value="2031">2031</option>
						</select>
						년 &nbsp;&nbsp;
						<select name="p_month">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						월 &nbsp;&nbsp;

						<select name="p_date">

						</select>
						일 &nbsp;&nbsp;

						<input type="button" name="p_today" value="오늘">
						
					</div>
					 
						
					<div class="franchisee_sales_list">
					
		  				<table>

							<thead>
								<tr>
									<td>오더 NO</td>
									<td>주문자 NO</td>
									<td>결제 가격</td>
									<td>결제 타입</td>
									<td>결제 등록일</td>
									<td>결제 수정일</td>
								</tr>
							</thead>
							
							<tbody>

								<!-- addStoreSalesListTable() -->

							</tbody>

						</table> 
						
						<div class="list_total_sales_price">
							<span>총 매출 : </span> <span class="total_price"></span> <span> 원</span>
						</div>

						<div class="page_no_wrap">
						</div>
						
					</div>

					<div class="list_search">

						<input type="date" name="start_date" >
						<input type="date" name="end_date" >
						<input type="button" name="search" value="검색">

					</div>
					
					<div class="sales_detail_modal_wrap">
						<div class="sales_detail_modal">
	
							<div class="store_info">
								<ul>
									<!-- <li>지점명</li>
									<li>대표자</li>
									<li>주소</li>
									<li>연락처</li>
									<li>결제수단</li> -->
								</ul>
							</div>
	
							<div class="order_info">
								<table>
									<thead>
										<tr>
											<th>메뉴명</th>
											<th>단가</th>
											<th>수량</th>
											<th>금액</th>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
								</table>
							</div>
		
							<div class="price_info">
								
							</div>
		
							<div class="close_box">
								close
							</div>
		
						</div>
					</div>
					
				</div>
							
				<div class="franchisee_section_view_wrap" th:unless="${session.loginedFranchiseeMemberDto != null}">
					<div class="other">
						<p>로그인 후 이용해주세요.</p>
						<br><br>
						<a th:href="@{/franchisee/member/franchiseeLoginForm}">로그인으로 이동</a>
					</div>
				</div>
			
			</div>
			
		</section>
			
		
		<footer th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">
		</footer>
		
	</div>

</body>
</html>