<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:src="@{/js/franchisee/order/franchisee_order.js}"></script>

<script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script>
	
<script type="text/javascript" th:replace="~{franchisee/order/include/franchisee_create_order_js.html::js}"></script>

<link rel="stylesheet" th:href="@{/css/franchisee/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_include.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/order/orderAdd.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_home.css}">


</head>
<body>

	<div id="wrap">

	<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
		</nav>
		
		<section>
			<div id="section_wrap">	
			
				<div th:replace="~{/franchisee/include/franchisee_include.html::section_menu_wrap}">
				</div>
				
				<div class="pos_section_main">
					
					<div class="pos_section_info_wrap" th:if="${session.loginedFranchiseeMemberDto != null}">
					
						<div class="franchisee_section_view_wrap">
	
							<div class="word">오더 메뉴 생성</div>				
		
							<div class="create_order_form">
							
								<h3>메뉴 등록</h3>
		
								<form th:action="@{/franchisee/order/orderAccountForm}"
									name="order_account_form" method="post">
								
									<div class="input_create_menu_wrap">						
										<table>
											<tr>
												<td><span>포장여부</span></td>
												<td><select name="cof_packaging" id="order_packaging_select">
													<option value="">------선택------</option>
													<option value="1">포장</option>
													<option value="0">매장</option>
												</select></td>
											</tr>
											<tr>
												<td><span>결제 방식</span></td>
												<td><select name="cof_pay" id="order_payment_select">
													<option value="">------선택-------</option>
													<option value="카드">카드</option>
													<option value="현금">현금</option>
												</select></td>
											</tr>																																	
											<tr>
												<td><span>카테고리 선택</span></td>
												<td><select name="cof_no" id="order_category_select"></select></td>
											</tr>
											<tr>
												<td><span>메뉴 선택</span></td>
												<td><select name="cof_menu_no" id="order_menu_select"></select></td>
											</tr>
											<tr>
												<td><span>샷 추가</span></td>
												<td><input type="number"  name="shot_number" value="0" class="shot_number" min="0" onchange="modiftyShotCount()"></td>
											</tr>
											<tr>
												<td><span>펄 추가</span></td>
												<td><input type="number"  name="pur_number" value="0" class="pur_number" min="0" onchange="modfiyPurCount()"></td>
											</tr>
											<tr>
												<td><span>주문 수량</span></td>
												<td><input type="number"  name="fof_menu_count" value="1" class="basic_count" min="1" onchange="modfiyMenuCount()"></td>
											</tr>									
											<tr>
												<td><span>메뉴 가격</span></td>
												<td>					
												<input type="text" name="fof_menu_price" class="basic_price" readonly="readonly">
												</td>										
											</tr>																										
											<tr>
												<td colspan="2">
													<input id="order_btn" class="order_btn" type="button" value="메뉴등록">
													<input class="order_btn" name="reset" type="reset" value="초기화" >											
												</td>
											</tr>
										</table>
									</div>
									
								</form>	
													
									<table>							
										<thead id="order_table_thead">
											<tr>								      
										    	<th>포장여부</th>
												<th>결제방식</th>
												<th>카테고리</th>
												<th>메뉴</th>							   
												<th>수량</th>
												<th>추가 옵션</th>
												<th>금액</th>
												<th>취소</th>
										 	 </tr>
										</thead>					  
										<tbody id="order_table">
										  	
										</tbody>										  		  
									</table>
									
									<div class="order_btns">
										<span id="total">합계 :    </span><span id="totalPrice"></span><span>원</span>
										<input class="order_btn" name="AllOrder_btn" type="button" value="결제">
										<input class="order_btn" name="AllOrder_delete_btn" type="button" value="초기화">
									</div>
							</div>
		
						</div>
						
						<div id="payment_complete_modal_wrap">
							<div class="payment_complete_modal_box">
								<div class="payment_complete_modal_content">
									<img src="/img/home/loading.png" id="loadimg">
									<p><span>0</span>%</p>
									<h6>결제중 입니다.</h6>
									<h1>주문번호: <span> 0 </span> 번</h1>
								</div>					
							</div>
						</div>
																
					</div>
					
					<div class="pos_section_info_wrap" th:unless="${session.loginedFranchiseeMemberDto != null}">
						<div class="other">
							<p>로그인 후 이용해주세요.</p>
							<br><br>
							<a th:href="@{/franchisee/member/franchiseeLoginForm}">로그인으로 이동</a>
						</div>
					</div>	
					
				</div>
								
			</div>
		</section>

		<footer th:replace="~{admin/include/admin_include.html::admin_footer}">
		</footer>

	</div>
	
</body>
</html>