<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/order/franchisee_login_result.css}">

<script type="text/javascript" th:src="@{/js/franchisee/order/franchisee_order.js}"></script>

</head>
<body>
	
	<header th:replace="~{/franchisee/include/franchisee_include.html::franchisee_header}"></header>

	
	<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
	</nav>
	
	
	<section>
	
		<div id="section_wrap">
			
			<div class="pos_section_info_wrap">
				<div class="word">
					orderList_delete_fail
				</div>
				
				<div class="others">
					<a th:href="@{/franchisee/order/get_order_list}">get back order list</a>
				</div>
				
			</div>
			
			<div class="pos_section_detail_view_wrap">

			</div>
		
		</div>
	
	</section>

	
	<footer th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}"></footer>
	
</body>
</html>