<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.kiosk.admin.menu.IAdminMenuDao">


	<select id="selectAllCategory"
		resultType="com.office.kiosk.admin.menu.AdminMenuCategoryDto">

		SELECT *
		FROM TBL_FC_MENU_CATEGORY;

	</select>

	<insert id="insertMenuCategory"
		parameterType="com.office.kiosk.admin.menu.AdminMenuCategoryDto">

		INSERT INTO TBL_FC_MENU_CATEGORY(FCMC_NAME,
		FCMC_REG_DATE, FCMC_MOD_DATE)
		VALUES(#{fcmc_name}, NOW(), NOW());

	</insert>

	<select id="isMenuCategory" parameterType="String"
		resultType="boolean">

		SELECT COUNT(*) FROM TBL_FC_MENU_CATEGORY WHERE FCMC_NAME =
		#{FCMC_NAME}

	</select>


	<select id="selectAllMenus"
		resultType="com.office.kiosk.admin.menu.AdminMenuDto">

		SELECT *
		FROM TBL_FC_MENU;

	</select>
	
	<select id="selectAdminMenuPagingList" parameterType="java.util.Map" resultType="com.office.kiosk.admin.menu.AdminMenuDto">
	
		SELECT 
		* 
		FROM
		TBL_FC_MENU 
		ORDER BY FCMC_NO ASC ,FC_MENU_NO ASC 
		LIMIT
		#{start}, #{limit}
	
	</select>
	
	<select id="selectAdminMenuPagingListByCate" parameterType="java.util.Map" resultType="com.office.kiosk.admin.menu.AdminMenuDto">
	
		SELECT 
		* 
		FROM
		TBL_FC_MENU 
		WHERE 
		FCMC_NO = #{fcmc_no} 
		ORDER BY FC_MENU_NO ASC 
		LIMIT 
		#{start}, #{limit}
	
	</select>
	
	<select id="selcetAllAdminMenuListCnt" resultType="Integer">
		
		SELECT 
			COUNT(FC_MENU_NO) 
		FROM 
			TBL_FC_MENU
		
	</select>
	
	
	<select id="selcetAllAdminMenuListCntByCate" resultType="Integer">
		
		SELECT 
			COUNT(FC_MENU_NO) 
		FROM 
			TBL_FC_MENU
		WHERE 
		FCMC_NO = #{fcmc_no} 
	</select>

	<select id="selectMenusByCategory" parameterType="String"
		resultType="com.office.kiosk.admin.menu.AdminMenuDto">

		SELECT * FROM TBL_FC_MENU WHERE FCMC_NO = #{FCMC_NO}

	</select>

	<select id="selectMenuInfo" parameterType="String"
		resultType="com.office.kiosk.admin.menu.AdminMenuDto">

		SELECT * FROM TBL_FC_MENU WHERE FC_MENU_NO = #{fc_menu_no}

	</select>

	<insert id="insertMenu"
		parameterType="com.office.kiosk.admin.menu.AdminMenuDto">

		INSERT INTO TBL_FC_MENU(FC_MENU_NAME, FCMC_NO,
		FC_MENU_TEXT, FC_MENU_PRICE,
		FC_MENU_IMG_NAME, FC_MENU_QUANTITY,
		FC_MENU_REG_DATE,
		FC_MENU_MOD_DATE)

		VALUES (#{fc_menu_name}, #{fcmc_no},
		#{fc_menu_text}, #{fc_menu_price},
		#{fc_menu_img_name},
		#{fc_menu_quantity}, NOW(), NOW());


	</insert>

	<update id="updateSelectMenu"
		parameterType="com.office.kiosk.admin.menu.AdminMenuDto">

		UPDATE TBL_FC_MENU 
  		SET FC_MENU_NAME = #{fc_menu_name}, 
        FCMC_NO = #{fcmc_no}, 
        FC_MENU_TEXT = #{fc_menu_text}, 
        FC_MENU_PRICE = #{fc_menu_price}, 
        FC_MENU_IMG_NAME = #{fc_menu_img_name}, 
        FC_MENU_MOD_DATE = NOW() 
   		WHERE FC_MENU_NO = #{fc_menu_no};

	</update>

	<delete id="deleteSelectMenu"
		parameterType="String">

		DELETE FROM TBL_FC_MENU WHERE FC_MENU_NO = #{fc_menu_no};

	</delete>


	<select id="isMenu" parameterType="String" resultType="boolean">

		SELECT
		COUNT(*) FROM TBL_FC_MENU WHERE FC_MENU_NAME = #{fc_menu_name};

	</select>

</mapper>