<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.office.kiosk.admin.sales.IAdminSalesDao">
	
	<select id="selectAllSalesInfo" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto" >
	
		SELECT 
			*
		FROM 
			TBL_FC_SALES FCSA 
		JOIN 
			TBL_FC_STORE FCS 
		ON 
			FCSA.FCS_NO = FCS.FCS_NO
		ORDER BY 
			FCSA_NO DESC 
	
	</select>
	
	<!-- all sales list page cnt -->
	<select id="selectAllSalesListCnt" 
			parameterType="Integer">
	
		SELECT 
			COUNT(FCSA_NO) 
		FROM 
			TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCSA.FCS_NO = FCS.FCS_NO  
		WHERE 
			DATE(FCSA_REG_DATE) = CURDATE() 
		AND 
			FCS.FCS_DELETED = 0 
	
	</select>
	
	<select id="selectSalesListForPaging" 
			parameterType="map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			* 
		FROM 
			TBL_FC_SALES FCSA 
		JOIN 
			TBL_FC_STORE FCS 
		ON 
			FCSA.FCS_NO = FCS.FCS_NO
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCM.FCM_NO = FCS.FCM_NO 
		WHERE 
			DATE(FCSA_REG_DATE) = CURDATE() 
		AND 
			FCS.FCS_DELETED = 0 
		ORDER BY 
			FCSA_NO DESC
		LIMIT 
			#{start},#{limit} 
	
	</select>
	
	<!-- ajax 전체 sales 목록 가져오기 -->
	<select id="selectAllSalesInfoForAjax" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto" >
	
		SELECT 
			* 
		FROM 
			TBL_FC_SALES FCSA 
		JOIN 
			TBL_FC_STORE FCS 
		ON 
			FCSA.FCS_NO = FCS.FCS_NO
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = CURDATE() 
		ORDER BY 
			FCSA_NO DESC 
	
	</select>
	
	<select id="selectAllMemberTotalSales"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			SUM(FCSA_PRICE)	AS SUM_TOTAL_PRICE 
		FROM 
			TBL_FC_SALES 
		WHERE 
			DATE(FCSA_REG_DATE) = CURDATE() 
			
	</select>
	
	<!-- 선택 ori_no order info 가져오기 -->
	<select id="selectOrderInfoByOriNo"
			parameterType="Integer"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			FCS_NAME, 
		    FCS_LOCATION,
		    FCS_PHONE, 
		    FCM_NAME, 
		    FCO.FCO_NO,
			FCO.FCO_ORI_NO, 
		    FCO.PM_TYPE, 
		    FCO.FC_MENU_NO, 
		    FCO_MENU_CNT, 
		    FCO_MENU_OPTION,
		    FCO_MENU_OPTION_PRICE,
		    M.FC_MENU_NAME, 
		    M.FC_MENU_PRICE, 
		    FCSA.FCSA_REG_DATE, 
		    FCSA.FCSA_PRICE 
		FROM TBL_FC_ORDER FCO
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCO.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		JOIN TBL_FC_MENU M ON M.FC_MENU_NO = FCO.FC_MENU_NO
		JOIN TBL_FC_SALES FCSA ON FCSA.FCO_ORI_NO = FCO.FCO_ORI_NO 
		WHERE FCO.FCO_ORI_NO = #{fco_ori_no} 
			
	</select>
	
	<!-- 매출 검색 count -->
	<select id="selectSearchSalesListCnt" 
			parameterType="com.office.kiosk.franchisee.dto.SearchSalesDto">
			
		SELECT 
			COUNT(FCSA.FCSA_NO) 
		FROM 
			TBL_FC_SALES FCSA 
		JOIN 
			TBL_FC_STORE FCS 
		ON 
			FCSA.FCS_NO = FCS.FCS_NO 
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCM.FCM_NO = FCS.FCM_NO 
		<where>
			FCSA_REG_DATE BETWEEN
            <choose>
                <when test="search_term == '1d'">
                    DATE_SUB(CURDATE(), INTERVAL 1 DAY)
                </when>
                <when test="search_term == '1w'">
                    DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
                </when>
                <when test="search_term == '1m'">
                    DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
                </when>
                <when test="search_term == '6m'">
                    DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
                </when>
                <when test="search_term == '1y'">
                    DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
                </when>
                <otherwise>
                    DATE_SUB(CURDATE(), INTERVAL 100 YEAR)
                </otherwise>
            </choose>
        	AND NOW()
		AND 
			<choose>
				<when test="search_value == 'fcs_name'">
					FCS.FCS_NAME LIKE '%${search_word}%' 
				</when>
				<when test="search_value == 'fcm_name'">
					FCM.FCM_NAME LIKE '%${search_word}%' 
				</when>
				<when test="search_value == 'pm_type'">
					FCSA.PM_TYPE LIKE '%${search_word}%' 
				</when>
			</choose>
		</where>
			
	</select>
	
	<!-- ajax fcs_name, 기간별 sales 목록 가져오기 -->
	<!-- ajax fcm_name, 기간별 sales 목록 가져오기 -->
	<!-- ajax pm_type, 기간별 sales 목록 가져오기 -->
	<select id="selectSearchSalesInfoForPaging" 
			parameterType="map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto" >
			
		SELECT 
			* 
		FROM 
			TBL_FC_SALES FCSA 
		JOIN 
			TBL_FC_STORE FCS 
		ON 
			FCSA.FCS_NO = FCS.FCS_NO 
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCM.FCM_NO = FCS.FCM_NO 
		<where>
			FCSA_REG_DATE BETWEEN
            <choose>
                <when test="search_term == '1d'">
                    DATE_SUB(CURDATE(), INTERVAL 1 DAY)
                </when>
                <when test="search_term == '1w'">
                    DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
                </when>
                <when test="search_term == '1m'">
                    DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
                </when>
                <when test="search_term == '6m'">
                    DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
                </when>
                <when test="search_term == '1y'">
                    DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
                </when>
                <otherwise>
                    DATE_SUB(CURDATE(), INTERVAL 100 YEAR)
                </otherwise>
            </choose>
        	AND NOW()
		AND 
			<choose>
				<when test="search_value == 'fcs_name'">
					FCS.FCS_NAME LIKE '%${search_word}%' 
				</when>
				<when test="search_value == 'fcm_name'">
					FCM.FCM_NAME LIKE '%${search_word}%' 
				</when>
				<when test="search_value == 'pm_type'">
					FCSA.PM_TYPE LIKE '%${search_word}%' 
				</when>
			</choose>
		</where>
		ORDER BY 
			FCSA.FCSA_NO DESC 
		LIMIT 
			#{start},#{limit} 
	
	</select>
	
	<select id="selectSearchTotalSales"
			parameterType="map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			SUM(FCSA.FCSA_PRICE) AS SUM_TOTAL_PRICE 
		FROM 
			TBL_FC_SALES FCSA 
		JOIN 
			TBL_FC_STORE FCS 
		ON 
			FCSA.FCS_NO = FCS.FCS_NO 
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCM.FCM_NO = FCS.FCM_NO 
		<where>
			FCSA_REG_DATE BETWEEN
            <choose>
                <when test="search_term == '1d'">
                    DATE_SUB(CURDATE(), INTERVAL 1 DAY)
                </when>
                <when test="search_term == '1w'">
                    DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
                </when>
                <when test="search_term == '1m'">
                    DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
                </when>
                <when test="search_term == '6m'">
                    DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
                </when>
                <when test="search_term == '1y'">
                    DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
                </when>
                <otherwise>
                    DATE_SUB(CURDATE(), INTERVAL 100 YEAR)
                </otherwise>
            </choose>
        	AND NOW()
		AND 
			<choose>
				<when test="search_value == 'fcs_name'">
					FCS.FCS_NAME LIKE '%${search_word}%' 
				</when>
				<when test="search_value == 'fcm_name'">
					FCM.FCM_NAME LIKE '%${search_word}%' 
				</when>
				<when test="search_value == 'pm_type'">
					FCSA.PM_TYPE LIKE '%${search_word}%' 
				</when>
			</choose>
		</where>
	
	</select>
	
	
	<!-- 가맹점별 총 매출 조회 -->
	<select id="selectStoreTotalSalesForPaging" 
			parameterType="Integer" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT
		    FCSA.FCS_NO,
		    FCS.FCS_NAME,
		    FCM.FCM_NAME,
		    SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO
		WHERE 
			DATE(FCSA.FCSA_REG_DATE) = CURDATE() 
		GROUP BY 
			FCS_NO 
		LIMIT 
			#{start},#{limit} 
			
	</select>
	
	<!-- 가맹점 갯수 count -->
	<select id="selectAllStoreSalesListCnt" 
			resultType="Integer">
			
		SELECT 
			COUNT(DISTINCT FCS.FCS_NO) 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = CURDATE(); 
			
	</select>
	
	
	<!-- 특정 날짜 가맹점별 매출 조회 -->
	<select id="selectDateTotalSales" 
			parameterType="String"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
		    FCSA.FCS_NO, 
		    FCS.FCS_NAME, 
		    FCM.FCM_NAME, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = #{selectDate} 
		GROUP BY FCS_NO  
	
	</select>
	
	
	<!-- 특정 날짜 가맹점별 매출 조회 페이징 -->
	<select id="selectStoreSalesInfoBySelectDate" 
			parameterType="map"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
		    FCSA.FCS_NO, 
		    FCS.FCS_NAME, 
		    FCM.FCM_NAME, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = #{selectDate} 
		GROUP BY FCS_NO  
		LIMIT 
			#{start},#{limit} 
			
	</select>
	 
		<!-- 특정 날짜 가맹점 갯수 count -->
	<select id="selectStoreSalesListCntBySelectDate"  
			parameterType="String"
			resultType="Integer">
			
		SELECT 
		    COUNT(DISTINCT FCSA.FCS_NO) 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = #{selectDate} 
			
	</select>
	
	<!-- 선택기간 가맹점별 매출 조회 -->
	<select id="selectStoreSalesDtosByInputFeriod"
			parameterType="map"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
		    FCSA.FCS_NO, 
		    FCS.FCS_NAME, 
		    FCM.FCM_NAME, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE FCSA.FCSA_REG_DATE BETWEEN #{startDate} AND #{endDate} 
		GROUP BY FCS_NO 
			
	</select>
	
	<!-- 회원별 총 매출 cnt for paging -->
	<select id="selectFranchiseeSalesListCnt" 
			parameterType="Integer">
			
		SELECT 
			COUNT(DISTINCT FCM.FCM_NO) 
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO  
		WHERE DATE(FCSA.FCSA_REG_DATE) = CURDATE() 
        GROUP BY FCM.FCM_NO 
	
	</select>

	<!-- 회원별 총 매출 조회 -->
	<select id="selectFranchiseeTotalSales" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			FCM.FCM_NO,
		    FCM.FCM_NAME,
			SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = CURDATE() 
		GROUP BY FCM_NO 
	
	</select>
	
	<select id="selectFranchiseeSalesInfo" 
			parameterType="map"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			FCM.FCM_NO,
		    FCM.FCM_NAME,
			SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM 
			TBL_FC_MEMBER FCM  
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO  
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO  
		WHERE DATE(FCSA.FCSA_REG_DATE) = CURDATE()  
		GROUP BY FCM_NO 
		LIMIT 
			#{start},#{limit}  
			
	</select>
	
	<!-- 특정 날짜 회원별 매출 조회 -->
	<select id="selectDateFranchiseeTotalSales" 
			parameterType="String"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			FCM.FCM_NO,
		    FCM.FCM_NAME,
			SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = #{selectDate}
		GROUP BY FCM_NO 
	
	</select>
	
	<select id="selectFranchiseeSalesInfoBySelectDate" 
			parameterType="map"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			FCM.FCM_NO,
		    FCM.FCM_NAME,
			SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO  
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO  
		WHERE DATE(FCSA.FCSA_REG_DATE) = #{selectDate} 
		GROUP BY FCM_NO 
		LIMIT 
			#{start},#{limit} 
			
	</select>
	
	<select id="selectFranchiseeSalesListCntBySelectDate" 
			parameterType="String">
			
		SELECT 
			COUNT(DISTINCT FCM.FCM_NO)
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) = #{selectDate}
		
	</select>
	
	<!-- 선택 기간 회원별 매출 조회 -->
	<select id="selectFranchiseeSalesDtosByInputFeriod" 
			parameterType="map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			FCM.FCM_NO,
		    FCM.FCM_NAME,
			SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO 
		WHERE FCSA.FCSA_REG_DATE BETWEEN #{startDate} AND #{endDate} 
		GROUP BY FCM_NO 
	
	</select>
	
	<select id="selectFranchiseeSalesInfoByInputPeriod"
			parameterType="map"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			FCM.FCM_NO,
		    FCM.FCM_NAME,
			SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE,
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO 
		WHERE FCSA.FCSA_REG_DATE BETWEEN #{startDate} AND #{endDate} 
		GROUP BY FCM_NO 
		LIMIT 
			#{start},#{limit} 
			
	</select>
	
	<select id="selectFranchiseeSalesListCntByInputPeriod" 
			parameterType="map">
	
		SELECT 
			COUNT(DISTINCT FCM.FCM_NO)
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		JOIN TBL_FC_SALES FCSA ON FCS.FCS_NO = FCSA.FCS_NO 
		WHERE FCSA.FCSA_REG_DATE BETWEEN #{startDate} AND #{endDate} 
	
	</select>
	
	<select id="selectStoreSalesListCntByInputPeriod"
			parameterType="map"
			>

		SELECT 
		    COUNT(DISTINCT FCSA.FCS_NO) 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) BETWEEN #{startDate} AND #{endDate} 
	
	</select>
	
	<select id="selectStoreSalesInfoByInputPeriod" 
			parameterType="map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto"> 
	
		SELECT 
		    FCSA.FCS_NO, 
		    FCS.FCS_NAME, 
		    FCM.FCM_NAME, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '카드' THEN FCSA.FCSA_PRICE END) AS CARD_TOTAL_PRICE, 
		    SUM(CASE WHEN FCSA.PM_TYPE = '현금' THEN FCSA.FCSA_PRICE END) AS CASH_TOTAL_PRICE 
		FROM TBL_FC_SALES FCSA 
		JOIN TBL_FC_STORE FCS ON FCS.FCS_NO = FCSA.FCS_NO 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE DATE(FCSA.FCSA_REG_DATE) BETWEEN #{startDate} AND #{endDate} 
		GROUP BY FCS_NO  
		LIMIT 
			#{start},#{limit} 
	
	</select>
	
	<select id="selectStoreMonthlySales" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT
			YEAR(FCSA_REG_DATE) AS YEAR,
			MONTH(FCSA_REG_DATE) AS MONTH,
			SUM(FCSA_PRICE) AS SUM_TOTAL_PRICE
		FROM 
			TBL_FC_SALES
		WHERE 
			FCS_NO = #{fcs_no}
		GROUP BY 
			YEAR(FCSA_REG_DATE), MONTH(FCSA_REG_DATE)
		ORDER BY 
			YEAR ASC, MONTH ASC
			
	</select>

</mapper>