<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.office.kiosk.admin.member.IAdminMemberDao">

	<select id="isMember" 
			parameterType="String" 
			resultType="Boolean">
	
		SELECT 
			COUNT(*) 
		FROM 
			TBL_ADMIN_MEMBER 
		WHERE 
			AM_ID = #{am_id} 
	
	</select>
	
	<insert id="insertAdmin" 
			parameterType="com.office.kiosk.admin.member.AdminMemberDto">
	
		<choose>
			<when test="am_id == 'super admin'">
				INSERT INTO 
					TBL_ADMIN_MEMBER(
						AM_ID, 
						AM_PW, 
						AM_NAME,
						AM_PHONE, 
						AM_MAIL, 
						AM_APPROVAL, 
						AM_REG_DATE, 
						AM_MOD_DATE) 
				VALUES(	#{am_id}, 
						#{am_pw}, 
						#{am_name}, 
						#{am_phone}, 
						#{am_mail}, 
						1, NOW(), NOW())
			</when>
			<otherwise>
				INSERT INTO 
					TBL_ADMIN_MEMBER(
						AM_ID, 
						AM_PW, 
						AM_NAME,
						AM_PHONE, 
						AM_MAIL, 
						AM_REG_DATE, 
						AM_MOD_DATE) 
				VALUES(	#{am_id}, 
						#{am_pw}, 
						#{am_name}, 
						#{am_phone}, 
						#{am_mail}, 
						NOW(), NOW())
			</otherwise>
		</choose>
		

	
	</insert>
	
	<select id="selectAdminForLogin" 
			parameterType="com.office.kiosk.admin.member.AdminMemberDto" 
			resultType="com.office.kiosk.admin.member.AdminMemberDto">
	
		SELECT 
			*
		FROM 
			TBL_ADMIN_MEMBER 
		WHERE 
			AM_ID = #{am_id} 
		AND 
			AM_APPROVAL = 1 
	
	</select>
	
	<update id="updateAdminForModify" 
			parameterType="com.office.kiosk.admin.member.AdminMemberDto">
	
		UPDATE 
			TBL_ADMIN_MEMBER
		SET 
			AM_NAME = #{am_name}, 
			AM_PHONE = #{am_phone}, 
			AM_MAIL = #{am_mail}, 
			AM_MOD_DATE = now()
		WHERE
			AM_NO = #{am_no} 
	
	</update>
	
	<select id="selectLastesAdminInfo" 
			parameterType="int" 
			resultType="com.office.kiosk.admin.member.AdminMemberDto">
	
		SELECT 
			*
		FROM 
			TBL_ADMIN_MEMBER 
		WHERE 
			AM_NO = #{am_no} 
	
	</select>
	
	<select id="selectAllFranchiseeInfo"
			resultType="com.office.kiosk.franchisee.member.FranchiseeMemberDto" >
	
		SELECT 
			* 
		FROM 
			TBL_FC_MEMBER 
	
	</select>
	
	<update id="updateFranchiseeApproval" 
			parameterType="int" >
			
		UPDATE 
			TBL_FC_MEMBER 
		SET 
			FCM_APPROVAL = 1
		WHERE 
			FCM_NO = #{fcm_no}
	
	</update>
	
	<select id="selectAllAdminInfo"
			resultType="com.office.kiosk.admin.member.AdminMemberDto" >
	
		SELECT 
			* 
		FROM 
			TBL_ADMIN_MEMBER 
		WHERE 
			AM_ID != 'super admin' 	
		
	
	</select>
	
	<update id="updateAdminApproval" 
			parameterType="int" >
			
		UPDATE 
			TBL_ADMIN_MEMBER 
		SET 
			AM_APPROVAL = 1
		WHERE 
			AM_NO = #{am_no}
	
	</update>
	
	<select id="selectAllFranchiseeStoreInfo"
			resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
	
		SELECT 
			* 
		FROM 
			TBL_FC_MEMBER 
	
	</select>
	
	<select id="selectAdminMemberPagingList" parameterType="java.util.Map" resultType="com.office.kiosk.admin.member.AdminMemberDto">
		
		SELECT 
			* 
		FROM 
			TBL_ADMIN_MEMBER 
		ORDER BY AM_NO ASC 
		LIMIT 
			#{start},#{limit}
		
	</select>
	
	<select id="selcetAllAdminListCnt" resultType="Integer">
		
		SELECT 
			COUNT(AM_NO) 
		FROM 
			TBL_ADMIN_MEMBER
		
	</select>
	
	<select id="selectFranchiseePagingList" parameterType="java.util.Map" resultType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
		
		SELECT 
			* 
		FROM 
			TBL_FC_MEMBER 
		ORDER BY FCM_NO ASC 
		LIMIT 
			#{start},#{limit}
		
	</select>
	
	<select id="selcetAllFranchiseeListCnt" resultType="Integer">
		
		SELECT 
			COUNT(FCM_NO) 
		FROM 
			TBL_FC_MEMBER
		
	</select>
	
	<select id="selectAllFranchiseeStorePagingList" parameterType="java.util.Map" resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
		
		SELECT 
			* 
		FROM 
			TBL_FC_STORE FCS 
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCS.FCM_NO = FCM.FCM_NO
		WHERE 
			FCS.FCS_DELETED = 0 
		ORDER BY FCM.FCM_NO ASC, FCS.FCS_NO ASC 
		LIMIT 
			#{start},#{limit}
		
	</select>
	
	<select id="selcetAllStoreListCnt" resultType="Integer">
		
		SELECT 
			COUNT(FCS_NO) 
		FROM 
			TBL_FC_STORE
		WHERE 
			FCS_DELETED = 0 
		
	</select>
	
	<select id="selectFranchiseeStoreInfoBySelect" 
			parameterType="String" 
			resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
	
		SELECT
			*
		FROM 
			TBL_FC_MEMBER FCM 
		JOIN TBL_FC_STORE FCS ON FCS.FCM_NO = FCM.FCM_NO 
		WHERE 
			FCM.FCM_ID = #{fcm_id} 
		AND 
			FCS.FCS_DELETED = 0  
		
	
	</select>
	
	<insert id="insertFranchiseeStore"
			parameterType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		INSERT INTO 
			TBL_FC_STORE(
				FCS_NAME,
		        FCS_LOCATION,
		        FCS_PHONE,
		        FCM_NO,
		        FCS_REG_DATE,
		        FCS_MOD_DATE) 
		VALUES (#{fcs_name}, 
				#{fcs_location},
				#{fcs_phone},
				#{fcm_no},
				NOW(), NOW())
			
	</insert>
	
	<select id="selectFranchiseeStoreByFcmNo" 
			parameterType="Integer" 
			resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
			
		SELECT 
			* 
		FROM 
			TBL_FC_STORE FCS 
		JOIN 
			TBL_FC_MEMBER FCM 
		ON 
			FCS.FCM_NO = FCM.FCM_NO
		WHERE 
			FCM.FCM_NO = #{fcm_no}
		AND 
			FCS.FCS_DELETED = 0 
			
	</select>
	
<!-- 	<delete id="deleteFranchiseeStoreByFcsNo" 
			parameterType="Integer">
			
		DELETE FROM 
			TBL_FC_STORE 
		WHERE 
			FCS_NO = #{fcs_no}
				
	</delete> -->
	
	<update id="updateFranchiseeStoreByFcsNoForDelete"
			parameterType="int">
			
		UPDATE 
			TBL_FC_STORE 
		SET 
			FCS_DELETED = 1,
			FCS_DELETED_DATE = NOW(),
			FCS_MOD_DATE = NOW()
		WHERE 
			FCS_NO = #{fcs_no} 
			
	</update>
	
	<select id="selectFcmNoByFcmId"
			parameterType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto"
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			FCM_NO 
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_ID = #{fcm_id} 
	
	</select>
	
</mapper>