<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper
	namespace="com.office.kiosk.franchisee.sales.IFranchiseeSalesDao">

	<select id="selectMyStoreAllSalesInfo"
		parameterType="java.util.Map"
		resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">

		SELECT 
		* 
		FROM 
		TBL_FC_SALES 
		WHERE 
		FCS_NO = #{fcs_no} 
		ORDER BY FCSA_NO DESC 
		LIMIT 
		#{start}, #{limit} 

	</select>

	<select id="selectMyStoreAllSalesInfoCnt"
		resultType="Integer">

		SELECT 
		COUNT(FCSA_NO) 
		FROM 
		TBL_FC_SALES 
		WHERE 
		FCS_NO = #{fcs_no} 
		 
	</select>
	
	<select id="selectMyStoreSalesInfoBySelectDate"
		parameterType="java.util.Map"
		resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">

		SELECT 
		* 
		FROM 
		TBL_FC_SALES 
		WHERE 
		FCS_NO = #{fcs_no} 
		AND DATE(FCSA_REG_DATE) = #{selectDate} 
		ORDER BY 
		FCSA_NO DESC 
		LIMIT 
		#{start}, #{limit} 

	</select>
	
	<select id="selectMyStoreSalesInfoBySelectDateCnt" 
		resultType="Integer">

		SELECT 
		COUNT(FCSA_NO) 
		FROM 
		TBL_FC_SALES 
		WHERE 
		FCS_NO = #{fcs_no} 
		AND DATE(FCSA_REG_DATE) = #{selectDate} 
		 
	</select>
	
	<select id="selectMyStoreSalesInfoByInputPeriod"
		parameterType="java.util.Map"
		resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">

		SELECT 
		    * 
		FROM 
		    TBL_FC_SALES 
		WHERE 
		    FCS_NO = #{fcs_no} 
		    AND DATE(FCSA_REG_DATE) BETWEEN #{startDate} AND #{endDate} 
		ORDER BY 
		    FCSA_NO DESC 
		LIMIT 
		    #{start}, #{limit}

	</select>
	
	<select id="selectMyStoreSalesInfoByInputPeriodCnt" 
		resultType="Integer">

		SELECT 
			COUNT(FCSA_NO) 
		FROM 
			TBL_FC_SALES 
		WHERE 
			FCS_NO = #{fcs_no} 
			AND DATE(FCSA_REG_DATE) BETWEEN #{startDate} AND #{endDate} 
		 
	</select>
	
	<select id="selectMyStoreTotalSales" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
	
		SELECT 
			SUM(FCSA_PRICE) AS SUM_TOTAL_PRICE 
		FROM 
			TBL_FC_SALES 
		WHERE 
			FCS_NO = #{fcs_no};
	
	</select>
	
	<select id="selectCurrentDateMyStoreTotalSales"
			parameterType="java.util.Map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			SUM(FCSA_PRICE) AS SUM_TOTAL_PRICE 
		FROM 
			TBL_FC_SALES 
		WHERE 
			FCS_NO = #{fcs_no} 
		AND DATE(FCSA_REG_DATE) = #{selectDate} 
			
	</select>
	
	<select id="selectPeriodDateMyStoreTotalSales"
			parameterType="java.util.Map" 
			resultType="com.office.kiosk.franchisee.sales.FranchiseeSalesDto">
			
		SELECT 
			SUM(FCSA_PRICE) AS SUM_TOTAL_PRICE 
		FROM 
			TBL_FC_SALES 
		WHERE 
			FCS_NO = #{fcs_no} 
		AND DATE(FCSA_REG_DATE) BETWEEN #{startDate} AND #{endDate} 
	
	</select>

</mapper>