<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.office.kiosk.franchisee.member.IFranchiseeMemberDao">

	<select id="isMember" 
			parameterType="String" 
			resultType="Boolean">
	
		SELECT 
			COUNT(*) 
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_ID = #{fcm_id} 
	
	</select>
	
	<insert id="insertFranchisee" 
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
	
		INSERT INTO 
			TBL_FC_MEMBER(
				FCM_ID, 
				FCM_PW, 
				FCM_NAME,
				FCM_PHONE, 
				FCM_MAIL, 
				FCM_REG_DATE, 
				FCM_MOD_DATE) 
		VALUES(	#{fcm_id}, 
				#{fcm_pw}, 
				#{fcm_name}, 
				#{fcm_phone}, 
				#{fcm_mail}, 
				NOW(), NOW())
	
	</insert>
	
	<select id="selectFranchiseeForLogin" 
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto" 
			resultType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
	
		SELECT 
			*
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_ID = #{fcm_id} 
	
	</select>
	
	<update id="updateFranchiseeForModify" 
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
	
		UPDATE 
			TBL_FC_MEMBER
		SET 
			FCM_NAME = #{fcm_name}, 
			FCM_PHONE = #{fcm_phone}, 
			FCM_MAIL = #{fcm_mail}, 
			FCM_MOD_DATE = now()
		WHERE
			FCM_NO = #{fcm_no} 
	
	</update>
	
	<select id="selectLastesFranchiseeInfo" 
			parameterType="int" 
			resultType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
	
		SELECT 
			*
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_NO = #{fcm_no} 
	
	</select>
	
	<select id="selectFranchiseeInfoByFcmId" 
			parameterType="String" 
			resultType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
			
		SELECT 
			*
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_ID = #{fcm_id} 
	
	</select>
	
	<select id="selectFranchiseeStoreList"
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto" 
			resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
			
		SELECT 
			* 
		FROM 
			TBL_FC_STORE FCS 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE 
			FCM.FCM_NO = #{fcm_no} 
		AND 
			FCS.FCS_DELETED = 0 
	
	</select>
	
	<select id="selectFranchiseeDto" 
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto"
			resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
			
		SELECT 
			*
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_ID = #{fcm_id}
			
	</select>
	
	<select id="selectFranchiseeMemberDtoForFindPw" 
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto"
			resultType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
			
		SELECT 
			*
		FROM 
			TBL_FC_MEMBER 
		WHERE 
			FCM_ID = #{fcm_id} 
		AND 
			FCM_NAME = #{fcm_name} 
		AND 
			FCM_PHONE = #{fcm_phone} 
		AND 
			FCM_MAIL = #{fcm_mail} 
			
	</select>
	
	<update id="updateFranchiseeMemberPassword" 
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto">
			
		UPDATE 
			TBL_FC_MEMBER 
		SET 
			FCM_PW = #{fcm_pw}, 
			FCM_MOD_DATE = NOW()
		WHERE 
			FCM_NO = #{fcm_no} 
			
	</update>
	
	<select id="selectStoreDtosByDto"
			parameterType="com.office.kiosk.franchisee.member.FranchiseeMemberDto"
			resultType="com.office.kiosk.franchisee.FranchiseeStoreDto">
	
		SELECT 
			* 
		FROM 
			TBL_FC_STORE FCS 
		JOIN TBL_FC_MEMBER FCM ON FCM.FCM_NO = FCS.FCM_NO 
		WHERE 
			FCM.FCM_NO = #{fcm_no} 
		AND 
			FCS.FCS_DELETED = 0 
			
	</select>
	

</mapper>