
<script th:fragment="customer_order_view_js" type="text/javascript">

let cart = {};

let innerCartSlideMoveValue = 120;
let leftMovedCount = 0;	
let rightMovedCount = 0;

$(document).ready(function() {
	
	init();
	
});

function init(){
	
	eventsHandler();
	
}

function eventsHandler(){
		
	// (수정) 메뉴 선택완료 버튼 클릭시 카트에 담기게 + 모달창 닫기
	$(".select_oreder input[name='select']").click(function(){
		console.log("select btn click!!!");
		
		// 메뉴 no
		let fc_menu_no = $("div.header_sec p.menu_no").text();
		
		// 메뉴 name
		let fc_menu_name = $("div.header_sec p.menu_name").text();

		// 메뉴 카테고리 no
		let fcmc_no = $("div.header_sec p.menu_category").text();
		
		// 메뉴 img URL
		let fc_menu_img = $("div.header_sec img.img_section").attr("src");
		
		// 선택 메뉴 한 잔 당 가격 (기본메뉴가격 * 1)
		let fc_menu_price = $('div.modal_header p.menu_price_origin').text();
		
		// 메뉴 커스텀 후 한 잔 당 가격((기본메뉴가격 * 1) + (옵션1가격 * 옵션추가수) + (옵션2가격 * 옵션추가수))
		let fc_menu_price_one = $('div.modal_header p.menu_price_one').text();
		
		// 메뉴 토탈 가격
		let fco_total_price = $('div.modal_header p.menu_price').text();
		
		// 메뉴 카운트
		let fc_menu_cnt = $('div.modal_header p.menu_number').text();
		
		// 샷 추가 갯수
		let shot_number = $('div.euro_option p.shot_number').text();
		
		// 샷 가격 (샷 가격 * 샷 추가수)
		let shot_price = shot_number * 500;
		
		// 펄 추가 갯수
		let pur_number = $('div.euro_option p.pur_number').text();
		
		// 펄 가격 (펄 가격 * 펄 추가수)
		let pur_price = pur_number * 1000;
		
		// 카트에 담는 함수 호출
		
		if($("ul.cart_area_items li").length !== 0){
			console.log("$('ul.cart_area_items li').length !== 0");
			
			for(let i = 0; i < $("ul.cart_area_items li").length; i++){
				console.log("카트에 중복 아이템 검사 for문");
				
				if($("ul.cart_area_items li").eq(i).attr('id').replace("cart_item_", "") === fc_menu_no+shot_number+pur_number){
					console.log("카트에 아이템이 있고 중복된 메뉴가 있어서 카트에 있는 아이템 수량 +1");
										
					let item_cnt = parseInt($("ul.cart_area_items li").eq(i).children('div.cart_item_select_wrap').children('p.fco_menu_cnt').text());
					let fc_menu_price_one = parseInt($("ul.cart_area_items li").eq(i).children('div.cart_item_select_wrap').children('input[name="fc_menu_price_one"]').val());
					let add_item_cnt = parseInt($("div.modal_header p.menu_number").text());
					
					console.log("fc_menu_price_one: "+fc_menu_price_one);
					if(item_cnt >= 20){
						item_cnt = 20;
					}else{
						item_cnt += add_item_cnt;
					}
					$("ul.cart_area_items li").eq(i).children('div.cart_item_select_wrap').children('p.fco_menu_cnt').text(item_cnt);
					
					$("ul.cart_area_items li").eq(i).children('div.cart_item_select_wrap').children('input[name="fco_total_price"]').val(item_cnt*fc_menu_price_one);
					
					totalPriceCalculator();
					
					$("#myModal").fadeOut();
			        resetValues();
					
					return;
				}
				
			}// for(let i = 0; i < $("ul.cart_area_items li").length; i++)
			console.log("카트에 아이템이 하나 이상 있고 중복된 메뉴가 없음 카트에 새로 메뉴 추가함");
			addCartItem(fc_menu_img, fc_menu_price, fc_menu_no, fc_menu_cnt, fc_menu_price_one, fcmc_no, 
					shot_number, shot_price, pur_number, pur_price, fco_total_price, fc_menu_name);
			cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
		}else{
			console.log("카트에 아이템이 하나도 없음 카트에 새로 메뉴 추가함");
			addCartItem(fc_menu_img, fc_menu_price, fc_menu_no, fc_menu_cnt, fc_menu_price_one, fcmc_no, 
					shot_number, shot_price, pur_number, pur_price, fco_total_price, fc_menu_name);
			cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
		}
		// 모달창 닫히고 모달창의 value 초기화
		$("#myModal").fadeOut();
        resetValues();
        
        let innerCartItemCnt = $('#footer_wrap ul.cart_area_items li').length;
		let canMoveCount = innerCartItemCnt - 5;
			
		if(innerCartItemCnt > 5){
			
			if((canMoveCount - leftMovedCount) > 0){
				leftMovedCount += 1;
												
				$('#footer_wrap ul.cart_area_items').animate({
						
					'left' : -(innerCartSlideMoveValue * leftMovedCount)+'px'
					
				},300);
				rightMovedCount -= 1;
			}	
			
			cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
				
		}
		
	});
	
	//오더 전체 취소 버튼 클릭
	$('#footer_wrap div.price_area_wrap div.order_cancel_btn').click(function(){
		console.log("order_cancel_btn click!!!");
		
		removeCartItem();
		totalPriceCalculator();
		//cart slide 값 초기화
		innerCartSlideMoveValue = 120;
		leftMovedCount = 0;	
		rightMovedCount = 0;
		cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
		$('#footer_wrap ul.cart_area_items').animate({			
			'left' : '0px'			
		},300);
	});
	
	//장바구니 슬라이드 영역
	$('#footer_wrap div.cart_area_right_btn').click(function(){
		console.log("cart_area_right_btn click!!!");				
		let innerCartItemCnt = $('#footer_wrap ul.cart_area_items li').length;
		let canMoveCount = innerCartItemCnt - 5;
			
		if(innerCartItemCnt > 5){
			
			if((canMoveCount - leftMovedCount) > 0){
				leftMovedCount += 1;
												
				$('#footer_wrap ul.cart_area_items').animate({
						
					'left' : -(innerCartSlideMoveValue * leftMovedCount)+'px'
					
				},300);
				rightMovedCount -= 1;
			}	
			
			cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
				
		}//if(innerCartItemCnt > 5)
						
	});//$('#footer_wrap div.cart_area_right_btn').click END
	
	$('#footer_wrap div.cart_area_left_btn').click(function(){
		console.log("cart_area_left_btn click!!!");				
		let innerCartItemCnt = $('#footer_wrap ul.cart_area_items li').length;
		let canMoveCount = innerCartItemCnt - 5;
			
		if(innerCartItemCnt > 5){
			
			if((canMoveCount - leftMovedCount) < canMoveCount){
				leftMovedCount -= 1;
				
				$('#footer_wrap ul.cart_area_items').animate({
						
					'left' : (innerCartSlideMoveValue * (rightMovedCount+1))+'px'
					
				},300);
				rightMovedCount += 1;
			}
			
			cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
				
		}//if(innerCartItemCnt > 5)
						
	});//$('#footer_wrap div.cart_area_right_btn').click END
	//장바구니 슬라이드 영역 END
	
	//payment_btn click 결제하기 버튼 클릭!
	$(document).on('click', '#footer_wrap div.price_area_wrap div.payment_btn', function(){
		console.log("payment_btn click!!!");
		removePaymentCartItem();
		if($("ul.cart_area_items li").length !== 0){
			
			let cartOrderItems = [];
			for (let i = 0; i < $("ul.cart_area_items>li").length; i++){
				
				let fc_menu_img = $("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_img img").attr('src');
				let fco_packaging = parseInt($("#footer_wrap div.cart_area_wrap div.cart_area_item_wrap>input[name='fco_packaging']").val());// 0 = 매장 or 1 = 포장  
				let fco_menu_cnt = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap p.fco_menu_cnt").text()); //1가지 메뉴 주문 갯수
				let fc_menu_no = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='fc_menu_no']").val()); //1가지 메뉴 번호	
				let fc_menu_name = $("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='fc_menu_name']").val(); //1가지 메뉴 이름	
				let fcmc_no = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='fcmc_no']").val()); //1가지 메뉴 카테고리 번호		
				let fc_menu_price = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='fc_menu_price']").val()); //1가지 메뉴 기본 1잔 가격			
				let fco_total_price = $("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='fco_total_price']").val(); // 1가지 메뉴 (가격*갯수) + (옵션*옵션갯수)  가격		
				let shot_number = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='shot_number']").val()); // 1가지 메뉴 샷 추가 갯수
				let shot_price = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='shot_price']").val()); // 1가지 메뉴 샷 추가 총 가격
				let pur_number = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='pur_number']").val()); // 1가지 메뉴 펄 추가 갯수
				let pur_price = parseInt($("#footer_wrap div.cart_area_wrap ul.cart_area_items>li:nth-child("+(i+1)+") div.cart_item_select_wrap input[name='pur_price']").val()); // 1가지 메뉴 펄 추가 총 가격
				let fco_menu_option = "샷: "+shot_number+" , 펄: "+pur_number; //오더 1가지 메뉴 옵션명 & 수량
				let fco_menu_option_price = shot_price+pur_price; //오더 메뉴 1잔 옵션 가격
				
				
				cartOrderItems[i] = {
					'fc_menu_img' : fc_menu_img,
					'fco_packaging' : fco_packaging,//
					'fco_menu_cnt' : fco_menu_cnt,//
					'fc_menu_no' : fc_menu_no,//
					'fc_menu_name' : fc_menu_name,
					'fcmc_no' : fcmc_no,//
					'fc_menu_price' : fc_menu_price,
					'fco_total_price' :	parseInt(fco_total_price.replace("\\",'')),//
					'shot_number' : shot_number,
					'shot_price' : shot_price,
					'pur_number' : pur_number,
					'pur_price' : pur_price,
					'fco_menu_option' : fco_menu_option,//
					'fco_menu_option_price' : fco_menu_option_price,//
				};
				
			}// for END
			console.log("cartOrderItems: ",cartOrderItems);	
			removePaymentCartItem();
			$("#payment_modal_wrap").show();
			paymentModal(cartOrderItems);								
		}//if END
		else{
			alert('주문 내역이 없습니다.');
		}
		
	});//payment_btn click END
	
	//payment modal close btn click!!
	$(document).on('click','#payment_modal_wrap div.payment_modal_close_btn',function(){
		console.log("payment_modal_close_btn click!");
		removePaymentCartItem();
		console.log("cart item length ->>>>>>",$("ul.cart_area_items>li").length);
		$("#payment_modal_wrap").hide();
	});
	//payment modal close btn click END
	
	//payment modal pay_card btn click!!
	$(document).on('click','div.payment_modal_payment_type_wrap button.pay_card',function(){
		console.log("pay_card click!");
		let pm_type = $(this).attr('pm_type');
		
		ajax_insert_order(pm_type);
				
	});
	//payment modal pay_card btn click END
	
	//payment modal pay_cash btn click!!
	$(document).on('click','div.payment_modal_payment_type_wrap button.pay_cash',function(){
		console.log("pay_cash click!");
		let pm_type = $(this).attr('pm_type');
		
		ajax_insert_order(pm_type);
				
	});
	//payment modal pay_cash btn click END
	
}// function eventsHandler() END


function cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount){
	console.log("cartAreaBtnActiveHandler()");
	
	let innerCartItemCnt = $('#footer_wrap ul.cart_area_items li').length;
	let canMoveCount = innerCartItemCnt - 5;
	
	if(innerCartItemCnt > 5){
		console.log("canMoveCount: "+canMoveCount);
		console.log("leftMovedCount: "+leftMovedCount);
		console.log("rightMovedCount: "+rightMovedCount);
	    if((canMoveCount - leftMovedCount) > 0 && rightMovedCount >= 0){
	    	$('#footer_wrap div.cart_area_right_btn img').attr('src','/img/home/cart_area_activ_right_btn.png');
	    	$('#footer_wrap div.cart_area_left_btn img').attr('src','/img/home/cart_area_left_btn.png');
	    }else if ((canMoveCount - leftMovedCount) > 0 && rightMovedCount < 0){
	    	$('#footer_wrap div.cart_area_right_btn img').attr('src','/img/home/cart_area_activ_right_btn.png');
	    	$('#footer_wrap div.cart_area_left_btn img').attr('src','/img/home/cart_area_activ_left_btn.png');
	    }else if ((canMoveCount - leftMovedCount) <= 0 && rightMovedCount < 0){
	    	$('#footer_wrap div.cart_area_right_btn img').attr('src','/img/home/cart_area_right_btn.png');
	    	$('#footer_wrap div.cart_area_left_btn img').attr('src','/img/home/cart_area_activ_left_btn.png');
	    }	      
	  }else{
		$('#footer_wrap div.cart_area_right_btn img').attr('src','/img/home/cart_area_right_btn.png');
	    $('#footer_wrap div.cart_area_left_btn img').attr('src','/img/home/cart_area_left_btn.png');
	  }
	
}


function ajax_insert_order(pm_type){
	console.log('ajax_insert_order()');
	
	let menuOrders = [];
	for(let i = 0; i < $('ul.payment_modal_cart li').length; i++){
		let cartOrderItem = $('ul.payment_modal_cart li').eq(i).children('input[name="cartOrderItem"]').data('cartOrderItem');
		cartOrderItem['pm_type'] = pm_type;
		menuOrders[i] = cartOrderItem;
	}
	
	console.log("menuOrders: ",menuOrders);
	
	dataMsg = {
    		'menuOrders': menuOrders,
    };
    
    $.ajax({
		 url: '/customer/order/customerOrderAccountConfirm',
	     method: 'post',
	     data: JSON.stringify(dataMsg),
	     contentType: 'application/json; charset=utf-8',
	     dataType: 'json',	
	     success: function(data) {
	   	 	console.log('customer ajax_insert_order success!!');
            
	   	 	if(data <= 0){
	   	 		alert('결제에 실패하였습니다.');
	   	 	}else{
	   	 		paymentCompleteModal(data);
	   	 	}
	   	 	
        },	     
		error: function(data) {
        	console.log('customer ajax_insert_order error!!');
        
		},
		complete: function(data) {
			console.log('customer ajax_insert_order complete!!');
			
		}
	     
	}); 
	
}//function ajax_insert_order () END

function paymentCompleteModal(fco_ori_no){
	$('#payment_complete_modal_wrap').show();
	let num = 0;
	let interval = setInterval(function(){
		num += 1;
		if( num >= 100){ 
			num = 100;
			$('div.payment_complete_modal_content p span').text(num);
			$('div.payment_complete_modal_content h6').text('결제 완료!');
			$('div.payment_complete_modal_content h1 span').text(fco_ori_no);
			$('div.payment_complete_modal_content h1').show();
			clearInterval(interval);
		}
		$('div.payment_complete_modal_content p span').text(num);
	},30);
	$('div.payment_complete_modal_content p').animate({'opacity':'0'},500,function loop_text(){
		$('div.payment_complete_modal_content p').animate({'opacity':'1'},500);
		$('div.payment_complete_modal_content p').animate({'opacity':'0'},500,loop_text);
	});
	let timeout = setTimeout(function(){
		$('div.payment_complete_modal_content h1').hide();
		$('#payment_complete_modal_wrap').hide();
		removePaymentCartItem();
		$("#payment_modal_wrap").hide();
		location.href = "/customer/order/sotreLoginResultView";
	}, 7000);
}

function paymentModal(cartOrderItems){
	console.log("paymentModal()");
	console.log("cartOrderItems: ", cartOrderItems);
	removePaymentCartItem();
	let cartOrderItem = "";
	let appendTag = "";	
	let paymentTotalPrice = 0;
	
	for(let i = 0; i < cartOrderItems.length; i++){
		console.log("paymentModal for ->>>>>>>"+i+"번째 생성");
		cartOrderItem = cartOrderItems[i];	
		
		appendTag = '<li class="cart_order_item'+i+'">';
			appendTag += '<input type="hidden" name="cartOrderItem">';
            appendTag += '<div class="payment_modal_cart_item_img">';
               appendTag += '<img src="'+cartOrderItem['fc_menu_img']+'" alt="">';
            appendTag += '</div>';
            
            appendTag += '<div class="payment_modal_cart_item_info">';
               appendTag += '<h3 class="payment_menu_name">'+cartOrderItem['fc_menu_name']+' X '+cartOrderItem['fco_menu_cnt']+'</h3>';
               appendTag += '<p class="payment_menu_option">'+cartOrderItem['fco_menu_option']+'</p>';
            appendTag += '</div>';
            
            appendTag += '<div class="payment_modal_cart_price_wrap">';
               appendTag += '<h2 class="payment_modal_cart_price" fco_total_price="'+cartOrderItem['fco_total_price']+'">'+cartOrderItem['fco_total_price'].toLocaleString("ko-KR")+'원</h2>';
            appendTag += '</div>';
  
     	appendTag += '</li>';
		$('#payment_modal_wrap div.payment_modal_section div.payment_modal_cart_wrap ul.payment_modal_cart').append(appendTag);
		
		$('ul.payment_modal_cart li.cart_order_item'+i+' input[name="cartOrderItem"]').data('cartOrderItem',cartOrderItem);
		
		paymentTotalPrice += parseInt($("li.cart_order_item"+i+" div.payment_modal_cart_price_wrap h2.payment_modal_cart_price").attr('fco_total_price'));
	}
	
	$('#payment_modal_wrap div.payment_modal_price_wrap table tr td.payment_modal_total_price span').text(paymentTotalPrice.toLocaleString("ko-KR"));
	let val = $('ul.payment_modal_cart li').eq(0).children('input[name="cartOrderItem"]').data('cartOrderItem');
	cartOrderItems = [];
}



function removeCartItem(){
	console.log("removeCartItem()");
	
	$("ul.cart_area_items").empty();
}

function removePaymentCartItem(){
	console.log("removePaymentCartItem()");
	
	$("ul.payment_modal_cart").empty();
}


function totalPriceCalculator(){
	let total_menu_price = 0;
	$("div.total_price_text h4 span").empty();
	for(let i = 0; i < $("ul.cart_area_items li input[name='fc_menu_price']").length; i++){
		
		fc_menu_price = parseInt($("ul.cart_area_items li input[name='fco_total_price']").eq(i).val().replace("\\", ""));
		
		total_menu_price += fc_menu_price;
	}
	
	$("div.total_price_text h4 span").text(total_menu_price);
}

//footer cart area
function addCartItem(menu_img, fc_menu_price, menu_no, fco_menu_cnt, fc_menu_price_one, fcmc_no,
		shot_number, shot_price, pur_number, pur_price, fco_total_price, fc_menu_name){
	console.log("addCartItem() 나 1개 생성!!");
	/*
	let fco_menu_cnt = 1;
	*/
	let appendTag = "";
	let cartItemID = menu_no + shot_number + pur_number;
	appendTag = '<li id="cart_item_'+cartItemID+'">';
		appendTag += '<img class="cart_area_cancel_btn" src="/img/home/cart_area_cancel_btn.png" alt="">';
		appendTag += '<div class="cart_item_img"><img src="'+menu_img+'" alt=""></div>'
		appendTag += '<div class="cart_item_select_wrap">';
		
			appendTag += '<div class="item_sub_btn" ><img src="/img/home/cart_area_sub_btn.png" alt=""></div>';
			appendTag += '<p class="fco_menu_cnt">'+fco_menu_cnt+'</p>';
			appendTag += '<div class="item_add_btn" menu_no='+menu_no+'><img src="/img/home/cart_area_add_btn.png" alt=""></div>';
			appendTag += '<input type="hidden" name="fc_menu_no" value="'+menu_no+'">';
			appendTag += '<input type="hidden" name="fc_menu_name" value="'+fc_menu_name+'">';
			appendTag += '<input type="hidden" name="fcmc_no" value="'+fcmc_no+'">';
			appendTag += '<input type="hidden" name="fc_menu_price" value="'+fc_menu_price+'">';
			appendTag += '<input type="hidden" name="fco_total_price" value="'+fco_total_price+'">';
			appendTag += '<input type="hidden" name="fc_menu_price_one" value="'+fc_menu_price_one+'">';
			appendTag += '<input type="hidden" name="shot_number" value="'+shot_number+'">';
			appendTag += '<input type="hidden" name="shot_price" value="'+shot_price+'">';
			appendTag += '<input type="hidden" name="pur_number" value="'+pur_number+'">';
			appendTag += '<input type="hidden" name="pur_price" value="'+pur_price+'">';
			
		appendTag += '</div>';
	appendTag += '</li>';
	
	$("ul.cart_area_items").append(appendTag);
	totalPriceCalculator();
	
	//장바구니 특정 아이템 삭제 버튼 클릭
	$("#cart_item_" + cartItemID + " img.cart_area_cancel_btn").click(function(){
		console.log("cart_area_cancel_btn click!!!");
		$(this).parent('li').remove();
		totalPriceCalculator();
		
		let innerCartItemCnt = $('#footer_wrap ul.cart_area_items li').length;
		let canMoveCount = innerCartItemCnt - 5;
			
		if(innerCartItemCnt >= 5){
			
			if((canMoveCount - leftMovedCount) < canMoveCount){
				leftMovedCount -= 1;
				
				$('#footer_wrap ul.cart_area_items').animate({
						
					'left' : (innerCartSlideMoveValue * (rightMovedCount+1))+'px'
					
				},300);
				rightMovedCount += 1;
			}			
			
			cartAreaBtnActiveHandler(leftMovedCount,rightMovedCount);
		}//if(innerCartItemCnt > 5)
				
	});
	//장바구니 특정 아이템 +버튼 클릭
	$("#cart_item_" + cartItemID + " div.cart_item_select_wrap div.item_add_btn").click(function(e){
		console.log("item_add_btn click!!!");
							
			let item_cnt = parseInt($(this).siblings('p.fco_menu_cnt').text());
			let fc_menu_price = parseInt($(this).siblings('input[name="fc_menu_price"]').val());
			
			if(item_cnt >= 20){
				item_cnt = 20;
			}else{
				item_cnt += 1;
			}
			$(this).siblings('p.fco_menu_cnt').text(item_cnt);
			
			$(this).siblings('input[name="fco_total_price"]').val(item_cnt*fc_menu_price_one);
			
			totalPriceCalculator();
		
	});
	//장바구니 특정 아이템 -버튼 클릭
	$("#cart_item_" + cartItemID + " div.cart_item_select_wrap div.item_sub_btn").click(function(){
		console.log("item_sub_btn click!!!");
		let item_cnt = parseInt($(this).siblings('p.fco_menu_cnt').text());
		let fc_menu_price_one = parseInt($(this).siblings('input[name="fc_menu_price_one"]').val());
		
		if(item_cnt <= 1){
			item_cnt = 1;
		}else{
			item_cnt -= 1;
		}
		$(this).siblings('p.fco_menu_cnt').text(item_cnt);
		
		$(this).siblings('input[name="fco_total_price"]').val(item_cnt*fc_menu_price_one);
		
		totalPriceCalculator();
	});
			
	
	
}//function addCartItem END


</script>