<html xmlns:th="http://www.thymeleaf.org">
		<!-- customer header 영역 -->
		<header th:fragment ="customer_header">
            <div id="header_wrap">
            	<ul class="header_btn_wrap">
	            	<li class="home_btn">
	                    <a th:href="@{/}">
	                    	<img src="/img/home/home_icon.png" alt="home_icon">
	                    </a>
	                </li>
	                <li class="home_btn">
	                    <a th:href="@{/franchisee/home}">
	                    	<img src="/img/home/franchisee_icon.png" alt="franchisee_icon">
	                    </a>
	                </li>
	                <li class="home_btn">
	                    <a th:href="@{/admin/home}">
	                    	<img src="/img/home/admin_icon.png" alt="admin_icon">
	                    </a>
	                </li>
            	</ul>                
            </div>
       	</header>
        <!-- customer header 영역 END -->
        
        <!-- customer nav 영역 -->
        <nav th:fragment ="customer_nav">
            <div id="nav_wrap">
                <div class="nav_pre_btn">
                    <!-- 
                    <img src="/img/home/nav_left_arrow.png" alt="left_arrow">
                	 -->
                </div>
                <ul class="nav_menu_wrap" id="nav_menu_wrap">
                	
                </ul>
                <div class="nav_next_btn">
                <!-- 
                    <img src="/img/home/nav_right_arrow.png" alt="right_arrow">
                -->
                </div>
            </div>
        </nav>       
        <!-- customer nav 영역 END -->
        
        <!-- customer footer 영역 -->
        <footer th:fragment ="customer_footer">
            <div id="footer_wrap">
                <div class="cart_area_wrap">
                    <div class="cart_area_left_btn">
                        <img src="/img/home/cart_area_left_btn.png" alt="cart_area_left_btn">
                    </div>
                    <div class="cart_area_item_wrap">
                        	<input type="hidden" name="fco_packaging" th:value="${fco_packaging}">
                        <ul class="cart_area_items">
                                                      
                        </ul>
                       
                    </div>
                    <div class="cart_area_right_btn">
                        <img src="/img/home/cart_area_right_btn.png" alt="cart_area_right_btn">
                    </div>
                </div>
                <div class="price_area_wrap">
                    <div class="total_price_area">
                        <div class="total_price_text">
                            <p>총 결재 금액</p>
                            
                            <!-- order menu sum(price*cnt) select 값 START -->
                            <h4><span>0</span>원</h4>
                            <!-- order menu sum(price*cnt) select 값 END -->
                            
                        </div>
                        <div class="order_cancel_btn">
                            전체취소
                        </div>
                    </div>
                    <div class="payment_btn">
                        <div class="payment_btn_icon">
                            <img src="/img/home/payment_icon.png" alt="payment_icon">
                        </div>
                        <div class="payment_btn_text">
                            결제하기
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		 <!-- customer footer 영역 END -->
</html>