<script th:fragment="customer_order_view_modal_js" type="text/javascript">

$(document).ready(function() {
    
    $(".openModal").click(function() {
        $("#myModal").fadeIn();
        
    });

     $(".close, #myModal, #cancel").click(function(e) {
        if (e.target === this) {
            $("#myModal").fadeOut();
            resetValues();
        }
    });

     menuSelectHandler();
    
});

function menuPrice() {
	let menuPrice = $('p.menu_price').attr('fc_menu_price');
	console.log("menuPrice: ", menuPrice);
	return menuPrice;
}


function resetCss() {
	
	 $(".select_oreder input[name='cancel']").css('border', '2px solid blue').css('backgroundColor', '#fff').css('color', 'blue');
	 $(".select_oreder input[name='select']").css('border', '2px solid blue').css('backgroundColor', 'inherit').css('color', 'blue');
	
}


	// 초기화 함수
    function resetValues(menuPrice) {
		console.log('resetValues()');
		
        $("p.menu_number").text("1"); // 메뉴 수량 초기화
        $("p.shot_number").text("0"); // 샷 수량 초기화
        $("p.pur_number").text("0"); // 퍼 수량 초기화
        
        const shotPrice = 500.0000;
        const purPrice = 1000.0000;
        $(".menu_price").text(menuPrice); // 메뉴 가격 초기화
        $(".shot_price").text(shotPrice); // 샷 가격 초기화
        $(".pur_price").text(purPrice); // 퍼 가격 초기화
        
        menuCurrentValue = 1;
	    shotCurrentValue = 0;
	    purCurrentValue = 0;

    }

 	const shotPrice = 500;
    const purPrice = 1000;

    // 초기 수량 설정
    let menuCurrentValue = 1;
    let shotCurrentValue = 0;
    let purCurrentValue = 0;

    // 가격 업데이트 함수
    function updatePrice() {
		
        const totalPrice = (menuPrice() * menuCurrentValue) + ((shotPrice * shotCurrentValue) * menuCurrentValue) + ((purPrice * purCurrentValue) * menuCurrentValue);
        $(".menu_price").text("\\" + totalPrice);
        console.log("totalPrice: "+totalPrice);
        
        const oneCupPrice = (menuPrice() * 1) + (shotPrice * shotCurrentValue) + (purPrice * purCurrentValue);
        $("p.menu_price_one").text(oneCupPrice);
        console.log("oneCupPrice: "+oneCupPrice);
        
    }


function menuSelectHandler() {

    // 메뉴 수량 버튼
    $(".menu_add").off("click").on("click", function() {
        menuCurrentValue++;
        $(".menu_number").text(menuCurrentValue);
        updatePrice();
    });

    $(".menu_min").off("click").on("click", function() {
        if (menuCurrentValue > 1) {
            menuCurrentValue--;
            $(".menu_number").text(menuCurrentValue);
            updatePrice();
        }
    });

    // 샷 수량 버튼
    $(".shot_add").off("click").on("click", function() {
        shotCurrentValue++;
        $(".shot_number").text(shotCurrentValue);
        updatePrice();
    });

    $(".shot_min").off("click").on("click", function() {
        if (shotCurrentValue > 0) {
            shotCurrentValue--;
            $(".shot_number").text(shotCurrentValue);
            updatePrice();
        }
    });

    // 퍼 수량 버튼
    $(".pur_add").off("click").on("click", function() {
        purCurrentValue++;
        $(".pur_number").text(purCurrentValue);
        updatePrice();
    });

    $(".pur_min").off("click").on("click", function() {
        if (purCurrentValue > 0) {
            purCurrentValue--;
            $(".pur_number").text(purCurrentValue);
            updatePrice();
        }
    });
}
	
</script>
