<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<script type="text/javascript" th:src="@{/js/admin/member/admin_member.js}"></script>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_include.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_home.css}">
<link rel="stylesheet" th:href="@{/css/admin/member/admin_modify_form.css}">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:replace="~{admin/include/section_side_menu_js.html::jquery_js}"></script>

</head>
<body>

	<div id="admin_wrap">

		<header th:replace="~{admin/include/admin_include.html::admin_header}">
		</header>
	
	
		<nav th:replace="~{admin/include/admin_include.html::admin_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
			
				<div th:replace="~{admin/include/admin_include.html::admin_section_side_menu}"></div>
				
				<div class="admin_section_view_wrap">
			
					<div class="word">
						<img src="/img/main/header_logo.JPG">
						<br>
						회원 정보 수정
					</div>
						
					<div class="modify_form">
					
						<form 	th:action="@{/admin/member/adminModifyConfirm}" 
								name="admin_modify_form"
								method="post">
							<input type="hidden" name="am_no" th:value="${session.loginedAdminMemberDto.am_no}">
							
							<input type="text" name="am_id" th:value="${session.loginedAdminMemberDto.am_id}" readonly disabled>
							<br>
							<input type="password" value="******" readonly disabled>
							<br>
							<input type="text" name="am_name" th:value="${session.loginedAdminMemberDto.am_name}" placeholder="INPUT ADMIN NAME">
							<br>
							<input type="text" name="am_phone" th:value="${session.loginedAdminMemberDto.am_phone}" placeholder="INPUT ADMIN PHONE">
							<br>
							<input type="text" name="am_mail" th:value="${session.loginedAdminMemberDto.am_mail}" placeholder="INPUT ADMIN MAIL">
							<br>
							
							<input type="button" value="수정" onclick="AdminModifyForm()">
							<input type="reset" value="초기화">
						
						</form>
					
					</div>
				
				</div>
	
			</div>
		
		</section>
			
		
		<footer th:replace="~{admin/include/admin_include.html::admin_footer}">
		</footer>
	
	</div>

</body>
</html>