<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<script type="text/javascript" th:src="@{/js/admin/member/admin_member.js}"></script>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_include.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_home.css}">
<link rel="stylesheet" th:href="@{/css/admin/member/admin_list.css}">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:replace="~{admin/include/section_side_menu_js.html::jquery_js}"></script>
<script type="text/javascript" th:replace="~{admin/include/admin_list_js.html::admin_list_js}"></script>

</head>
<body>

	<div id="admin_wrap">

		<header th:replace="~{admin/include/admin_include.html::admin_header}">
		</header>
	
	
		<nav th:replace="~{admin/include/admin_include.html::admin_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
			
				<div th:replace="~{admin/include/admin_include.html::admin_section_side_menu}"></div>
				
				<div class="admin_section_view_wrap">
			
					<div class="word">
						관리자 목록
					</div>
					
					<div class="list_btns_wrap">
						<input type="button">
					</div>
						
					<div class="admin_list" >
					
		  				<!-- <table>
							<tr>
								<td>NO</td>
								<td>ID</td>
								<td>이름</td>
								<td>연락처</td>
								<td>메일</td>
								<td>승인</td>
								<td>등록일</td>
								<td>수정일</td>
							</tr>
							<tr th:each="a : ${adminMemberDtos}">
								<td th:text="${a.am_no}"></td>
								<td th:text="${a.am_id}"></td>
								<td th:text="${a.am_name}"></td>
								<td th:text="${a.am_phone}"></td>
								<td th:text="${a.am_mail}"></td>
								<td th:if="${a.am_approval} == 0">
									<button th:No="${a.am_no}" type="button" th:onclick="adminApproveBtn(this.getAttribute('No'))" th:text="승인"></button> 
								</td>
								<td th:unless="${a.am_approval} == 0" th:text="승인완료"></td>
								<td th:text="${a.am_reg_date}"></td>
								<td th:text="${a.am_mod_date}"></td>
							</tr>
						</table>  -->
						
						<table>
							<thead>
								<tr>
									<th>NO</th>
									<th>ID</th>
									<th>이름</th>
									<th>연락처</th>
									<th>메일</th>
									<th>승인</th>
									<th>등록일</th>
									<th>수정일</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table> 
						
						<div class="page_no_wrap">
						</div>
						
					</div>
				
				</div>
				
			</div>
			
		</section>
			
		
		<footer th:replace="~{admin/include/admin_include.html::admin_footer}">
		</footer>
		
	</div>

</body>
</html>