<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<script type="text/javascript" th:src="@{/js/admin/member/admin_member.js}"></script>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_include.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_home.css}">
<link rel="stylesheet" th:href="@{/css/admin/member/create_franchisee_store_form.css}">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:replace="~{admin/include/section_side_menu_js.html::jquery_js}"></script>
<script type="text/javascript" th:replace="~{admin/include/create_franchisee_store_from_js.html::create_franchisee_store_from_js}"></script>

</head>
<body>

	<div id="admin_wrap">

		<header th:replace="~{admin/include/admin_include.html::admin_header}">
		</header>
	
	
		<nav th:replace="~{admin/include/admin_include.html::admin_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
				
				<div th:replace="~{admin/include/admin_include.html::admin_section_side_menu}"></div>
				
				<div class="admin_section_view_wrap" th:if="${session.loginedAdminMemberDto != null}">
				
					<div class="word">
						신규 가맹점 추가
					</div>
						
					<div class="create_form">
							
							<div class="franchisee_info_modal">
								<div class="franchisee_info">
									
									<table class="info_table">
										<thead>
											<tr>
												<th colspan="3">현재 보유 지점 <input type="button" name="modal_close" value="colse"> </th>
											</tr>
											<tr>
												<th>지점명</th>
												<th>주소</th>
												<th>연락처</th>
											</tr>
										</thead>
										<tbody>
											
										</tbody>
									</table>
		
								</div>
							</div>
							
							<div class="create_form_table_wrap">
								<form name="create_franchisee_store_form">
									<table class="form_table">
										<tr>
											<td>가맹회원</td>
											<td><input type="text" name="fcm_id" placeholder="INPUT FRANCHISEE ID"> <input type="button" name="id_chk" value="ID 확인"> </td>
										</tr>
										<tr>
											<td>가맹점명</td>
											<td><input type="text" name="fcs_name" placeholder="INPUT FRANCHISEE STORE NAME"></td>
										</tr>
										<tr>
											<td>주소</td>
											<td><input type="text" name="fcs_location" placeholder="INPUT FRANCHISEE STORE LOCATION"></td>
										</tr>
										<tr>
											<td>연락처</td>
											<td><input type="text" name="fcs_phone" placeholder="INPUT FRANCHISEE STORE PHONE"></td>
										</tr>
										<tr>
											<td colspan="2">
												<input type="button" name="create_sotre" value="create store">
												<input type="reset" value="reset">
											</td>
										</tr>
									</table>
								</form>
							</div>
					
					</div>
					
				</div>
				
				<div class="admin_section_view_wrap" th:unless="${session.loginedAdminMemberDto != null}">
				
					<div class="word">
						create franchisee store form
						<br>
						로그인 후 이용 가능
						<br><br>
						<a th:href="@{/admin/member/adminLoginForm}">로그인</a>							
					</div>
						
				</div>
	
			</div>
			
		</section>
			
		
		<footer th:replace="~{admin/include/admin_include.html::admin_footer}">
		</footer>
		
	</div>

</body>
</html>