#wrap {
    width: 1000px;
    margin: 0 auto;
}

#section_wrap {
    width: 100%;
}

#section_wrap .pos_section_main {
    width: 100%;
}

#section_wrap .pos_section_info_wrap {
    width: 100%;
}

#section_wrap .pos_section_info_wrap .word {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

#section_wrap .pos_section_info_wrap .modify_password_form {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#section_wrap .pos_section_info_wrap .modify_password_form .result_word {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0;
}

