<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{include/include_title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/customer/common.css}">
<link rel="stylesheet" th:href="@{/css/customer/home2.css}">

<script type="text/javascript" th:src="@{/js/franchisee/member/home.js}"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script type="text/javascript" th:src="@{/js/customer/home_js.js}"></script>

</head>
<body>

	<div id="wrap">

		<section>
		
			<div id="section_wrap">

				<div class="word">
					<!-- 
					<span class="txt_1">C</span><span class="txt_2">ode</span><span class="txt_1">다방</span>
					<span class="txt_3">kiosk</span>
					 -->
					 <img id="logo" src="/img/main/main_page_logo.PNG">
				</div>

				<div class="store_list">
					<table>
						<thead>
							<tr>
								<th>지점명</th>
								<th>주소</th>
								<th>연락처</th>
								<th><input type="button" value="close"></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
		
				<div class="session_chk" th:if="${session.loginedFranchiseeStoreDto == null}">
					<div class="login_form">
	
						<form	action="/customer/order/franchiseeStoreLogin" 
								method="post"
								name="franchisee_store_login_form">
								
							<input type="hidden" name="fcs_no">
	
							<table>
								<tr>
									<td>ID : </td>
									<td><input type="text" name="fcm_id" placeholder="PLEASE INPUT FRANCHISEE ID"></td>
								</tr>
								<tr>
									<td><input type="button" name="fcs_name" value="오픈지점"></td>
									<td><span class="txt_1">지점명  :  <span class="fcs_name"></span></span></td>
								</tr>
								<tr>
									<td>PW : </td>
									<td><input type="password" name="fcm_pw" placeholder="PLEASE INPUT FRANCHISEE PW"></td>
								</tr>
								<tr>
									<td colspan="2">
										<input class="input_btn" type="button" value="login" onclick="franchiseeStoreLogin()">
										<input class="input_btn" type="reset" value="reset">
									</td>
								</tr>
							</table>
	
						</form>
						
					</div>
				</div>
				
				<div class="session_chk" th:unless="${session.loginedFranchiseeStoreDto == null}">
					<div class="btn">
						<a th:href="@{/customer/order/sotreLoginResultView}">주문하러 가기</a>
					</div>
				</div>
				
			</div>
			
		</section>
		
    </div>

</body>
</html>