<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript"
	th:src="@{/js/franchisee/menu/create_menu_account_form.js}"></script>

</head>

<body>


	<nav
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
	</nav>

	<section>

		<div id="section_wrap">

				<div class="word">메뉴 신규 등록 요청 실패!</div>


			</div>

	</section>

	<footer
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">

	</footer>


</body>
</html>