<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>


<link rel="stylesheet" th:href="@{/css/franchisee/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_include.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_home.css}">

<script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script>

</head>
<body>

<div id="wrap">
	
	<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
	</nav>

	<section>

		<div id="section_wrap">

			<div th:replace="~{/franchisee/include/franchisee_include.html::section_menu_wrap}">
			</div>
				
				<div class="word">MENU HOME</div>
			  
			 	<ul>
					<li><a th:href="@{/franchisee/menu/createMenuForm}">추가 메뉴 신청</a></li>
					<li><a th:href="@{/franchisee/menu/getAllMenus}">메뉴 목록</a></li>
					<li><a th:href="@{/franchisee/menu/modifySelectMenu}">메뉴 수정</a></li>
				</ul>
			 	
		</div>
		
	</section>

	<footer
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">

	</footer>
	
</div>

</body>
</html>