<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript"
	th:src="@{/js/franchisee/menu/modify_menu_account_form.js}"></script>

</head>
<body>


	<nav
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
	</nav>

	<section>

		<div id="section_wrap">

			<div class="word">메뉴 정보 수정 요청</div>

			<div class="modify_menu_form">
				<form th:action="@{/franchisee/menu/modifyMenuAccountConfirm}"
					name="modify_menu_account_form" method="post">

					<span>메뉴 분류</span> <br> <label><input type="radio"
						name="fcmc_no" value="1">커피(COFFEE)</label> <label><input
						type="radio" name="fcmc_no" value="2">차(TEA)</label> <label><input
						type="radio" name="fcmc_no" value="3">스무디(SMOOTHIE)</label> <label><input
						type="radio" name="fcmc_no" value="4">에이드(ADE)</label> <label><input
						type="radio" name="fcmc_no" value="5">아이스크림/디저트(DESERT)</label>


					<div class="input_modify_menu_wrap">

						<span>메 뉴 명 &nbsp;&nbsp;: </span><input type="text" name="fc_menu_name"
							placeholder="메뉴의 이름을 입력하세요."><br> <span>메뉴 설명
							: </span><input type="text" name="fc_menu_text" placeholder="메뉴의 설명을 입력하세요."><br>
						<span>메뉴 가격 : </span><input type="number" name="fc_menu_price"
							placeholder="메뉴의 가격을 입력하세요."><br> <input type="file"
							name="fc_menu_img_name" placeholder="메뉴의 사진을 업로드하세요."><br>
						<input type="button" value="메뉴등록" onclick="modifyMenuAccountForm()"> 
							<input type="reset"
							value="초기화">

					</div>

				</form>
			</div>

		</div>

	</section>

	<footer
		th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">

	</footer>

</body>
</html>