<html xmlns:th="http://www.thymeleaf.org">
	
	<header th:fragment="admin_header">
		<div id="header_wrap">
			<h2>KIOSK SERVICE ADMIN MOD</h2>
		</div>
	</header>
	

	<nav th:fragment="admin_nav">
	
		<div id="nav_wrap" th:if="${session.loginedAdminMemberDto == null}" >
			<a th:href="@{/admin/member/adminLoginForm}">로그인</a>
			<a th:href="@{/admin/member/adminMemberAccountForm}">회원가입</a>
			<a th:href="@{/admin/home}">홈</a>
		</div>
		
		<div id="nav_wrap" th:unless="${session.loginedAdminMemberDto == null}" >
			<a href="#none" th:onclick="adminLogoutConfirm()">로그아웃</a>
			<a th:href="@{/admin/member/adminMemberModifyForm}">정보수정</a>
			<a th:href="@{/admin/home}">홈</a>
		</div> 
		
	</nav>
	
	
	<div class="section_side_menu" th:fragment="admin_section_side_menu">
		
		<ul>
			<li>가맹점 관리
				<ul>
					<li>
						<a th:href="@{/admin/member/adminList}">관리자 목록</a>
					</li>
					<li>
						<a th:href="@{/admin/member/franchiseeList}">가맹회원 목록</a>
					</li>
					<li>
						<a th:href="@{/admin/member/storeList}">가맹점 목록</a>
					</li>
					<li>
						<a th:href="@{/admin/member/createFranchiseeStore}">가맹점 등록</a>
					</li>
				</ul>		
			</li>
			<li>메뉴 관리
				<ul>
					<li>
						<a th:href="@{/admin/menu/menuList}">메뉴 목록</a>
					</li>
					<li>
						<a th:href="@{/admin/menu/createMenuForm}">신규 메뉴 생성</a>
					</li>
				</ul>
			</li>
			<li>매출 관리
				<ul>
					<li>
						<a th:href="@{/admin/sales/salesList}">전체 매출</a>
					</li>
					<li>
						<a th:href="@{/admin/sales/storeSalesList}">가맹점별 매출</a>
					</li>
					<li>
						<a th:href="@{/admin/sales/franchiseeSalesList}">가맹회원별 매출</a>
					</li>
				</ul>
			</li>
		</ul>
		
	</div>
	
	
	<footer th:fragment="admin_footer">
		<div id="footer_wrap">
			<img src="/img/main/logo.PNG">
		</div>
	</footer>

</html>