<script type="text/javascript" th:fragment="admin_sales_list_js">


$(document).ready(function(){
    console.log('DOCUMENT READY!!')

    addSalesListTable()

    initEvents()

})

function addSalesListTable() {
    console.log('addSalesListTable()');

    ajax_getAllSalesInfo()

}


function initEvents() {
    console.log('initEvents()');

    $(document).on('click', '#section_wrap .list_search input[value="search"]', function (e){
        console.log('검색 버튼 클릭!');

        let search_term = $('#section_wrap .list_search select[name="search_term"]').val();
        let search_value = $('#section_wrap .list_search select[name="search_value"]').val();
        let search_word = $('#section_wrap .list_search input[name="search_word"]').val();

        if (search_word === '') {
            alert('검색어를 입력해주세요.')

            $('#section_wrap .list_search input[name="search_word"]').focus();
        } else {

            ajax_searchSalesList(search_term, search_value, search_word);
        }

    })

    $('#section_wrap .admin_section_view_wrap .sales_detail_modal .close_box').click(function() {
        console.log('modal close btn click!');

        $('#section_wrap .admin_section_view_wrap .sales_detail_modal_wrap').css('display', 'none');

        removeDetailModal();

    })

}

function removeSalesList() {
    console.log('removeSalesList()');

    $('#section_wrap .admin_section_view_wrap .admin_sales_list table tbody').empty();

}

function removePageNo() {
    console.log('removePageNo');

    $('#section_wrap div.page_no_wrap').empty();

}

function removeDetailModal() {
    console.log('removeDetailModal()');

    $('#section_wrap .admin_section_view_wrap .sales_detail_modal .store_info ul').empty();
    $('#section_wrap .admin_section_view_wrap .sales_detail_modal .order_info table tbody').empty();
    $('#section_wrap .admin_section_view_wrap .sales_detail_modal .price_info').empty();

}

// ajax - 모든 매출 목록 불러오기 
function ajax_getAllSalesInfo(pageNum = 1) {
    console.log('ajax_getAllSalesInfo');

    $.ajax({
        url: '/admin/sales/getAllSalesInfo', 
        method: 'post', 
        data: { 'page' : pageNum },
        dataType: 'json',
        success: function(data) {
            console.log('ajax success!!');

            removeSalesList();
            removePageNo();

            let pageDto = data.allSalesListPageDto;
            let salesDtos = data.allFranchiseeSalesDtos;
            let totlaSales = data.allMemberTotalSales;
            let appendTag = '';
			
            for (let i = 0; i < salesDtos.length; i++) {
                
                appendTag = '<tr>';
                    
                    appendTag += '<td>' + salesDtos[i].fcsa_no + '</td>';
                    appendTag += '<td><a class="ori_no" href="#none">' + salesDtos[i].fco_ori_no + '</a></td>';
                    appendTag += '<td>' + salesDtos[i].fcs_name + '</td>';
                    appendTag += '<td>' + salesDtos[i].fcm_name + '</td>';
                    appendTag += '<td>' + salesDtos[i].fcsa_price.toLocaleString("ko-KR") + '</td>';
                    appendTag += '<td>' + salesDtos[i].pm_type + '</td>';
                    appendTag += '<td>' + salesDtos[i].fcsa_reg_date + '</td>';
                    appendTag += '<td>' + salesDtos[i].fcsa_mod_date + '</td>';

                appendTag += '</tr>';

                $('#section_wrap .admin_section_view_wrap .admin_sales_list>table>tbody').append(appendTag);

            }

            if (pageDto.page <= 1) {
                $('#section_wrap div.page_no_wrap').append(`<span >&#8810;</span>`);
                $('#section_wrap div.page_no_wrap').append("<span >[이전]</span>");
            } else {
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="pre_page_btn" page_num='1'>&#8810;</a>`);
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="pre_page_btn" page_num='${(pageDto.page-1)}'>[이전]</a>`);
            }

            for (let i = pageDto.startPage; i <= pageDto.endPage; i++) {
                let appendPageNum = '';

                appendPageNum += "<span class='page_num_wrap'>";
                if (i === pageDto.page) {
                    appendPageNum += "<b style='color:#555'>"+i+"</b>";
                } else {
                    appendPageNum += `<a href="#none" class="page_num_btn" page_num='${i}'>${i}</a>`;
                }
                appendPageNum += "</span>";

                $('#section_wrap div.page_no_wrap').append(appendPageNum); 

            }

            if(pageDto.page >= pageDto.maxPage){
                $('#section_wrap div.page_no_wrap').append("<span>[다음]</span>");
                $('#section_wrap div.page_no_wrap').append(`<span>&#8811;</span>`);

            }else{ 
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="next_page_btn" page_num='${(pageDto.page+1)}'>[다음]</a>`);
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="next_page_btn" page_num='${(pageDto.maxPage)}'>&#8811;</a>`);
            }
            
            if(totlaSales !== null) {
            	$('#section_wrap .list_total_sales_price span.total_price').text(totlaSales.sum_total_price.toLocaleString("ko-KR"));
            } else {
            	$('#section_wrap .list_total_sales_price span.total_price').text('0');
            }
            
        },
        error: function(data) {
            console.log('ajax error!!')

        }, 
        complete: function() {

            $('#section_wrap .admin_section_view_wrap .admin_sales_list table a.ori_no').click(function() {
                console.log('a.ori_no click');

                let fco_ori_no = $(this).text();

                ajax_salesDetailInfo(fco_ori_no);

                $('#section_wrap .admin_section_view_wrap .sales_detail_modal_wrap').css('display', 'block');

            })


            $('#section_wrap div.page_no_wrap .next_page_btn').click(function(){
                console.log('nextPageBtnClick()')

                ajax_getAllSalesInfo(this.getAttribute('page_num'));
            });

            $('#section_wrap div.page_no_wrap .pre_page_btn').click(function(){
                console.log('prePageBtnClick()')

                ajax_getAllSalesInfo(this.getAttribute('page_num'));
            });

            $('#section_wrap div.page_no_wrap .page_num_btn').click(function(){
                console.log('pageNumBtnClick()')

                ajax_getAllSalesInfo(this.getAttribute('page_num'));
            });
			
        }

    })

}

// ajax sales list 검색
function ajax_searchSalesList(search_term, search_value, search_word, pageNum = 1) {
    console.log('ajax_searchSalesList()')

    let formData = new FormData();
    formData.append('search_term', search_term);
    formData.append('search_value', search_value);
    formData.append('search_word', search_word);
    formData.append('page', pageNum);

    $.ajax({
        url: '/admin/sales/getSearchSales',
        method: 'post', 
        processData: false,
        contentType: false,
        data: formData,
        success: function (data) {
            console.log('ajax success!!');
            
            let pageDto = data.searchSalesListPageDto;
            let searchDtos = data.searchSalesDtos;
            let searchTotalSales = data.searchTotalSales;
            let appendTag = '';
            
            removeSalesList();
            removePageNo();

            if (searchDtos.length !== 0) {


                for (let i = 0; i < searchDtos.length; i++) {

                appendTag = '<tr>';

                    appendTag += '<td>' + searchDtos[i].fcsa_no + '</td>';
                    appendTag += '<td><a class="ori_no" href="#none">' + searchDtos[i].fco_ori_no + '</a></td>';
                    appendTag += '<td>' + searchDtos[i].fcs_name + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcm_name + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcsa_price.toLocaleString("ko-KR") + '</td>';
                    appendTag += '<td>' + searchDtos[i].pm_type + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcsa_reg_date + '</td>';
                    appendTag += '<td>' + searchDtos[i].fcsa_mod_date + '</td>';

                appendTag += '</tr>';

                $('#section_wrap .admin_section_view_wrap .admin_sales_list>table>tbody').append(appendTag);

                }

            } else {

                appendTag = '<tr>';

                    appendTag += '<td colspan="8"> 검색된 데이타가 없습니다.  </td>';

                appendTag += '</tr>';

                $('#section_wrap .admin_section_view_wrap .admin_sales_list>table>tbody').append(appendTag);

            }

            if (pageDto.page <= 1) {
                $('#section_wrap div.page_no_wrap').append(`<span >&#8810;</span>`);
                $('#section_wrap div.page_no_wrap').append("<span >[이전]</span>");
            } else {
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="pre_page_btn" page_num='1'>&#8810;</a>`);
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="pre_page_btn" page_num='${(pageDto.page-1)}'>[이전]</a>`);
            }

            for (let i = pageDto.startPage; i <= pageDto.endPage; i++) {
                let appendPageNum = '';

                appendPageNum += "<span class='page_num_wrap'>";
                if (i === pageDto.page) {
                    appendPageNum += "<b style='color:#555'>"+i+"</b>";
                } else {
                    appendPageNum += `<a href="#none" class="page_num_btn" page_num='${i}'>${i}</a>`;
                }
                appendPageNum += "</span>";

                $('#section_wrap div.page_no_wrap').append(appendPageNum); 

            }

            if(pageDto.page >= pageDto.maxPage){
                $('#section_wrap div.page_no_wrap').append("<span>[다음]</span>");
                $('#section_wrap div.page_no_wrap').append(`<span>&#8811;</span>`);

            }else{ 
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="next_page_btn" page_num='${(pageDto.page+1)}'>[다음]</a>`);
                $('#section_wrap div.page_no_wrap')
                    .append(`<a style='font-weight: bold' href="#none" class="next_page_btn" page_num='${(pageDto.maxPage)}'>&#8811;</a>`);
            }
            
            if(searchTotalSales !== null) {
            	$('#section_wrap .list_total_sales_price span.total_price').text(searchTotalSales.sum_total_price.toLocaleString("ko-KR"));
            } else {
            	$('#section_wrap .list_total_sales_price span.total_price').text('0');
            }

        },
        error: function(data) {
            console.log('ajax error!!')

        },
        complete: function() {

            $('#section_wrap .admin_section_view_wrap .admin_sales_list table a.ori_no').click(function() {
                console.log('a.ori_no click');

                let fco_ori_no = $(this).text();

                ajax_salesDetailInfo(fco_ori_no);

                $('#section_wrap .admin_section_view_wrap .sales_detail_modal_wrap').css('display', 'block');

            })

            $('#section_wrap div.page_no_wrap .next_page_btn').click(function(){
                console.log('nextPageBtnClick()')

                ajax_searchSalesList($('#section_wrap .list_search select[name="search_term"]').val() 
                                    ,$('#section_wrap .list_search select[name="search_value"]').val() 
                                    ,$('#section_wrap .list_search input[name="search_word"]').val() 
                                    ,this.getAttribute('page_num'));

            });

            $('#section_wrap div.page_no_wrap .pre_page_btn').click(function(){
                console.log('prePageBtnClick()')

                ajax_searchSalesList($('#section_wrap .list_search select[name="search_term"]').val() 
                                    ,$('#section_wrap .list_search select[name="search_value"]').val() 
                                    ,$('#section_wrap .list_search input[name="search_word"]').val() 
                                    ,this.getAttribute('page_num'));
            });

            $('#section_wrap div.page_no_wrap .page_num_btn').click(function(){
                console.log('pageNumBtnClick()')

                ajax_searchSalesList($('#section_wrap .list_search select[name="search_term"]').val() 
                                    ,$('#section_wrap .list_search select[name="search_value"]').val() 
                                    ,$('#section_wrap .list_search input[name="search_word"]').val() 
                                    ,this.getAttribute('page_num'));

            });

        }
    })
    

}

// ajax fco_ori_no 디테일 뷰
function ajax_salesDetailInfo(fco_ori_no) {
    console.log("ajax_salesDetailInfo()");

    $.ajax({
        url: '/admin/sales/getSalesDetailInfo',
        method: 'post',
        data: {'fco_ori_no' : fco_ori_no},
        dataType: 'json',
        success: function(data) {
            console.log('ajax success!')

            removeDetailModal();

            let salesDetailInfo = data.salesDetailInfo;
            console.log("salesDetailInfo--", salesDetailInfo);
            let appendTag = '';

            appendTag += '<li> 지점명 : ' + salesDetailInfo[0].fcs_name + '</li>';
            appendTag += '<li> 대표자 : ' + salesDetailInfo[0].fcm_name + '</li>';
            appendTag += '<li> 주소 : ' + salesDetailInfo[0].fcs_location + '</li>';
            appendTag += '<li> 연락처 : ' + salesDetailInfo[0].fcs_phone + '</li>';
            appendTag += '<li> 결제수단 : ' + salesDetailInfo[0].pm_type + '</li>';
            appendTag += '<li> 결제일 : ' + salesDetailInfo[0].fcsa_reg_date + '</li>';

            $('#section_wrap .admin_section_view_wrap .sales_detail_modal .store_info ul').append(appendTag);

            for (let i = 0; i < salesDetailInfo.length; i++) {

                let appendTbodyTag = '';
                
                appendTbodyTag += '<tr>'
                    appendTbodyTag += '<td class="menu_name" colspan="4">' + salesDetailInfo[i].fc_menu_name + ' - ' + salesDetailInfo[i].fco_menu_option + '</td>'
                appendTbodyTag += '</tr>'
                
                appendTbodyTag += '<tr>'
                    appendTbodyTag += '<td></td>'
               		appendTbodyTag += '<td>' + (parseInt(salesDetailInfo[i].fco_menu_option_price+salesDetailInfo[i].fc_menu_price)).toLocaleString("ko-KR") + '</td>'
               		appendTbodyTag += '<td>' + salesDetailInfo[i].fco_menu_cnt + '</td>'
                	appendTbodyTag += '<td>' + (parseInt((salesDetailInfo[i].fco_menu_option_price+salesDetailInfo[i].fc_menu_price)*salesDetailInfo[i].fco_menu_cnt)).toLocaleString("ko-KR")  + '</td>'
                appendTbodyTag += '</tr>'
                

                $('#section_wrap .admin_section_view_wrap .sales_detail_modal .order_info table tbody').append(appendTbodyTag);

            }

            let appendPriceTag = '';

            appendPriceTag += '<p>판매금액</p><p>' + salesDetailInfo[0].fcsa_price.toLocaleString("ko-KR") + ' 원</p>';

            $('#section_wrap .admin_section_view_wrap .sales_detail_modal .price_info').append(appendPriceTag);

        },
        error: function(data) {
            console.log('ajax error!')

        }

    })

}

</script>
