<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/franchisee/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_include.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/member/create_franchisee_account_form.css}">

<script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script>

</head>
<body>

	<div id="wrap">

		<header th:replace="~{/franchisee/include/franchisee_include.html::franchisee_header}">
		</header>
		
		
		<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
			
				<div th:replace="~{/franchisee/include/franchisee_include.html::section_menu_wrap}">
				</div>

				<div class="pos_section_main">
					<div class="pos_section_info_wrap">

						<div class="word">
							<img src="/img/main/header_logo.JPG">
						</div>
						
						<div class="create_form">
							<form 	th:action="@{/franchisee/member/createFranchiseeAccountConfirm}" 
									name="create_franchisee_account_form"
									method="post">
								<table>
									<tr>
										<td>아이디</td>
										<td><input class="input_txt" type="text" name="fcm_id" placeholder="INPUT FRANCHISEE ID"></td>
									</tr>
									<tr>
										<td>비밀번호</td>
										<td><input class="input_txt" type="password" name="fcm_pw" placeholder="INPUT FRANCHISEE PW"></td>
									</tr>
									<tr>
										<td>비밀번호 확인</td>
										<td><input class="input_txt" type="password" name="fcm_pw_again" placeholder="INPUT AGAIN PW"></td>
									</tr>									
									<tr>
										<td>이름</td>
										<td><input class="input_txt" type="text" name="fcm_name" placeholder="INPUT FRANCHISEE NAME"></td>
									</tr>	
									<tr>
										<td>연락처</td>
										<td><input class="input_txt" type="text" name="fcm_phone" placeholder="INPUT FRANCHISEE PHONE"></td>
									</tr>
									<tr>
										<td>메일</td>
										<td><input class="input_txt" type="text" name="fcm_mail" placeholder="INPUT FRANCHISEE MAIL"></td>
									</tr>
									<tr>
										<td colspan="2">
											<input class="create_form_btn" type="button" value="회원가입" onclick="createFranchiseeAccountForm()">
											<input class="create_form_btn" type="reset" value="초기화">	
										</td>
									</tr>
								</table>
							</form>
						</div>

					</div>
				</div>
				
			</div>
		
		</section>
		
		
		<footer th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">
		</footer>
	
	
	</div>

</body>
</html>