<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/franchisee/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_include.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/member/franchisee_modify_password_form.css}">

<script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script>

</head>
<body>

	<div id="wrap">

		<header th:replace="~{/franchisee/include/franchisee_include.html::franchisee_header}">
		</header>
		
		
		<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
		</nav>
		
		
		<section>
		
			<div id="section_wrap">
			
				<div th:replace="~{/franchisee/include/franchisee_include.html::section_menu_wrap}">
				</div>

				<div class="pos_section_main">
					<div class="pos_section_info_wrap">

						<div class="word">
							비밀번호 변경
						</div>
						
						<div class="modify_password_form">
							<div class="result_word">
								새로운 비밀번호를 입력하세요.
							</div>
						
							<form 	th:action="@{/franchisee/member/franchiseeModifyPasswordConfirm}" 
									name="franchisee_modify_password_confirm_form"
									method="post">
									
								<table>
									<tr>
										<td>비밀번호</td>
										<td><input class="input_txt" type="password" name="fcm_pw" placeholder="INPUT FRANCHISEE PW"></td>
									</tr>
									<tr>
										<td>비밀번호 확인</td>
										<td><input class="input_txt" type="password" name="fcm_pw_again" placeholder="INPUT FRANCHISEE PW AGAIN"></td>
									</tr>	
									<tr>
										<td colspan="2">
											<input class="modify_password_btn" type="button" value="변경" onclick="franchiseeModifyPasswordConFirm()">
											<input class="modify_password_btn" type="reset" value="초기화">	
										</td>
									</tr>
								</table>
							</form>
						
						</div>

					</div>
				</div>
				
			</div>
		
		</section>
		
		
		<footer th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">
		</footer>
	
	
	</div>

</body>
</html>