<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/include_title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/franchisee/common.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/franchisee_include.css}">
<link rel="stylesheet" th:href="@{/css/franchisee/member/franchisee_login_result.css}">

<script type="text/javascript" th:src="@{/js/franchisee/member/franchisee_member.js}"></script>

</head>
<body>

	<div id="wrap">

		<header th:replace="~{/franchisee/include/franchisee_include.html::franchisee_header}">
		</header>

		
		<nav th:replace="~{/franchisee/include/franchisee_include.html::franchisee_nav}">
		</nav>
		
		<section>
		
			<div id="section_wrap">

				<div th:replace="~{/franchisee/include/franchisee_include.html::section_menu_wrap}">
				</div>

				<div class="pos_section_main">
					<div class="pos_section_info_wrap">
						<div class="word">
							<br>
							아이디 또는 비밀번호를 확인하세요.
						</div>
						
						<div class="others">
							<a th:href="@{/franchisee/member/franchiseeFindPassword}">비밀번호 찾기</a>
							<a th:href="@{/franchisee/member/franchiseeLoginForm}">로그인</a>
						</div>
						
					</div>
				</div>
			
			</div>
		
		</section>
		
		
		<footer th:replace="~{/franchisee/include/franchisee_include.html::franchisee_footer}">
		</footer>

	</div>
	
</body>
</html>