body {
	background: no-repeat center url("/img/home/bg.png");
	background-position: center 0%;
	padding: 76px 0;
}
#wrap {
    max-width: 1000px;
    min-width: 1000px;
    height: 1060px;
}

#section_wrap .main {
    width: 1000px;
    height: 910px;
}

#section_wrap .main .img_box {
    width: 1000px;
    height: 910px;
}



#section_wrap .main .img_box ul.img_slide {
	width: 1000px;
	height: 910px;
	position: relative;
}

#section_wrap div.main .img_box ul li {
	width: 1000px;
	height: 910px;
	position: absolute;
	left: 0;
	top: 0;
}

#section_wrap div.main .img_box ul li img {
	width: 1000px;
	height: 910px;
	padding: 0;
	
}

#section_wrap .main .auto_slide {
    width: 560px;
    height: 210px;
    background-color: #c8c8c8;
    overflow: hidden;
    margin: 0 auto;
}


#section_wrap .main .auto_slide ul li {
    max-width: 140px;
    min-width: 140px;
    height: 210px;
    text-align: center;
    float: left;
}

#section_wrap .main .auto_slide ul li img {
    max-width: 140px;
}

#section_wrap .main .auto_slide ul li span {
    font-size: 0.8em;
}

#section_wrap .option {
    width: 1000px;
    height: 150px;
    background-color: #071f60;
    display: flex;
    justify-content: center;
}

#section_wrap .option div {
    padding: 38px;
    margin: 0 10px;
}

#section_wrap .option input[type="button"] {
    border: 3px solid #fff;
    border-radius: 40px;
    padding: 18px 50px;
    background-color: #253f85;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

#section_wrap .option input[type="button"]:hover {
    background-color: #fff;
    color: #253f85;
    border: 3px solid #253f85;
}